- @title=collection_name @addresses

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li.active
      AddressCollection

- if @addresses.operations.find {|o| o.rel == 'add'}
  - content_for :actions do
    %p
      %a{ :href => '#addressModal', :class => 'btn btn-primary', :'data-toggle' => :modal} New Address

    %div{ :id => :addressModal, :class => 'modal hide fade' }
      .modal-header
        %h3 Create new Address entity
      .modal-body
        %form{ :action => "/cimi/addresses", :method => :post }
          %fieldset
            .control-group
              %label.control-label{ :for => 'address[name]' } Address Name
              .controls
                %input{ :type => :text, :name => 'address[name]' }
              %label.control-label{ :for => 'address[address_template]' } Address Image
              .controls
                %select{ :name => 'address[address_template]' }
                  - @address_templates.address_templates.each do |template|
                    %option{ :value => template.id }=href_to_id(template.id)
      .modal-footer
        %a{ :href => '#', :class => 'btn btn-primary', :'data-loading-text' => 'Creating Address...', :onclick => "postModalForm(this, 'addressModal')"} Continue
        %a{ :href => '#', :class => 'btn', :'data-dismiss' => 'modal'} Cancel
  %p
    %a{ :href => "#{@addresses.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@addresses.id}?format=json", :class => 'label warning' } JSON

%ul
  - @addresses.addresses.each do |address|
    %li
      %a{ :href => "/cimi/addresses/#{href_to_id(address.id)}"}=href_to_id(address.id)

-details 'AddressCollection details' do
  -row 'ID', @addresses.id
  -row 'Count', @addresses.count
