- @title=@volumes.description

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li.active
      VolumeCollection


%blockquote
  %p
    A Volume Collection entity represents the collection of Volume
    entities within a Provider. This entity can be used to locate and create
    volumes.

%ul
  - @volumes.volumes.each do |volume|
    %li
      %a{ :href => "/cimi/volumes/#{volume.href.split('/').last}"}=volume.href.split('/').last
