- @title=@volumes.description

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li.active
      VolumeCollection

- content_for :actions do
  %p
    %a{ :href => "#{@volumes.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@volumes.id}?format=json", :class => 'label warning' } JSON

%h3 VolumesCollection
%ul
  - @volumes.volumes.each do |volume|
    %li
      %a{ :href => "/cimi/volumes/#{href_to_id(volume.id)}"}=href_to_id(volume.id)

- details 'VolumeCollection details' do
  - row 'ID', @volumes.id
  - row 'Description', @volumes.description
  - row 'Created', @volumes.created

