- @title="#{@volume.name}"

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li
      %a{ :href => "/cimi/volumes"} VolumeCollection
      %span.divider="/"
    %li.active
      = @volume.name

- content_for :actions do
  %p
    %a{ :href => "#{@volume.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@volume.id}?format=json", :class => 'label warning' } JSON

- details do
  - row 'ID', @volume.id
  - row 'Name', @volume.name
  - row 'Description', @volume.description
  - row 'Created', @volume.created
  - row 'Type', @volume.type
  - row 'Capacity', @volume.capacity
  - row 'Bootable?', boolean_span_for(@volume.bootable)
  - row 'State', @volume.state
