html {
  background-color: white; }

body {
  font-family: "Trebuchet MS"; }
  body a {
    color: #441111; }

#hd {
  margin-bottom: 2em; }

#bd {
  margin-bottom: 2em; }


#bd h1 {
  font-size: 160%;
  margin-bottom: 1ex; }
#bd h2 {
  font-size: 140%;
  margin-bottom: 1ex; }
#bd h3 {
  font-size: 120%;
  margin-bottom: 1ex; }
#bd dl {
  font-size: 90%;
  margin-bottom: 1em; }
  #bd dl di {
    display: block;
    margin-bottom: 1em; }
    #bd dl di dt, #bd dl di dd {
      padding: .5ex; }
    #bd dl di dt {
      font-weight: bold;
      background-color: #cccccc; }
    #bd dl di dd {
      padding-left: 1em;
      background-color: #eeeeee; }
#bd ul li {
  list-style-type: square;
  margin-left: 1em; }

table {
  width: 100%; }
  table th, table td {
    padding: .5ex;
    font-size: 90%; }
  table th {
    font-weight: bold;
    background-color: #cccccc; }
  table td {
    background-color: #eeeeee; }

.radio-group {
  font-size: 90%;
  margin-bottom: 1em;
  background-color: #cccccc; }
  .radio-group label {
    font-weight: bold; }

.radio-group-details {
  font-weight: normal;
  display: block;
  padding-left: 1em;
  background-color: #eeeeee;
  padding: 1ex; }

input[type='radio'] {
  margin-top: 1ex;
  margin-left: 1ex;
  margin-bottom: 1ex; }

ul.breadcrumb li {
  display:inline;
}
ul.breadcrumb li.subsequent:before {
  content: ">> "
}
