%instancesSet
  %item
    %instanceId=object.id
    %currentState
      %code=instance_state_code(object.state.downcase)
      %name=object.state.downcase
    %previousState
      %code -1
      %name unknown
