=header "Storage volumes" do
  %a{ :href => api_url_for('storage_volumes/new'), :'data-icon' => :plus, :'data-role' => :button, :class => 'ui-btn-right'} Create new volume

%div{ :'data-role' => :content, :'data-theme' => 'c'}
  %ul{ :'data-role' => :listview , :'data-inset' => :true, :'data-divider-theme' => 'a'}
    %li{ :'data-role' => 'list-divider'}=driver_symbol
    - @storage_volumes.each do |volume|
      %li
        %a{ :href => storage_volume_url(volume.id), :'data-ajax' => 'false'}
          %img{ :class => 'ui-link-thumb', :src => '/images/volume.png'}
          %h3= volume.name ? volume.name : volume.id
          %p=[volume.realm_id, volume.capacity].join(', ')
          %span{ :class => 'ui-li-count'}=volume.state
