=header "Create new storage volume"


%div{ :'data-role' => :content, :'data-theme' => 'c', :class => 'middle-dialog'}
  %form{ :action => storage_volumes_url, :method => :post }
    %p
      %label
        Name:
      %input{ :name => 'name', :size => 30 } (optional)
    %p
      %label
        Snapshot ID:
      %input{ :name => 'snapshot_id', :size => 30 } (optional)
    %p
      %label
        Capacity (in GB):
      %input{ :name => "capacity", :size => 3, :value => "1"}
    %p
      %label
        Realm ID:
      %select{ :name => 'realm_id' }
        - driver.realms(credentials).each do |i|
          %option{ :value => "#{i.id}"} #{i.name}
    %p
      %input{ :type => :submit, :name => "commit", :value => "Create" }/
