- @title=@vsp_configs.description

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li.active
      VSPConfigurationCollection

- content_for :actions do
  %p
    %a{ :href => "#{@vsp_configs.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@vsp_configs.id}?format=json", :class => 'label warning' } JSON

%h3 VSPConfigurationCollection
%ul
  - @vsp_configs.vsp_configurations.each do |vsp_config|
    %li
      %a{ :href => "/cimi/vsp_configurations/#{href_to_id(vsp_config.id)}"}=href_to_id(vsp_config.id)

-details 'VSPConfigurationCollection details' do
  -row 'ID', @vsp_configs.id
  -row 'Description', @vsp_configs.description
  -row 'Created', @vsp_configs.created
