
<h1><%= @snapshot.id %></h1>

<dl>
  <di>
    <dt>
      Volume
    </dt>
    <dd>
      <%= @snapshot.storage_volume_id %>
    </dd>
  </di>
  <di>
    <dt>
      Created
    </dt>
    <dd>
      <%= @snapshot.created %>
    </dd>
  </di>
  <di>
    <dt>
      State
    </dt>
    <dd>
      <%= @snapshot.state %>
    </dd>
  </di>
</dl>
