=header "Addresses" do
  %a{ :href => "#", :onclick => "create_address('#{addresses_url}')", :'data-icon' => :plus, :'data-role' => :button, :class => 'ui-btn-right', :'data-ajax' => "false", :method => :post} Create new address
=subheader "#{Thread::current[:provider] || ENV['API_PROVIDER'] || 'default'}"

%div{ :'data-role' => :content, :'data-theme' => 'c'}
  %ul#address_list{ :'data-role' => :listview , :'data-inset' => :true, :'data-divider-theme' => 'a'}
    %li{ :'data-role' => 'list-divider'}=driver_symbol
    - elements.each do |address|
      = haml :"addresses/_address", :locals => { :address => address, :partial => true }
