=header "Addresses" do
  %a{ :href => create_address_url, :'data-icon' => :plus, :'data-role' => :button, :class => 'ui-btn-right', :'data-ajax' => "false", :'method' => :post} Create new address
=subheader "#{Thread::current[:provider] || ENV['API_PROVIDER'] || 'default'}"

%div{ :'data-role' => :content, :'data-theme' => 'c'}
  %ul{ :'data-role' => :listview , :'data-inset' => :true, :'data-divider-theme' => 'a'}
    %li{ :'data-role' => 'list-divider'}=driver_symbol
    - @elements.each do |address|
      %li
        %a{ :href => address_url(address.id), :'data-ajax' => 'false'}
          %img{ :class => 'ui-link-thumb', :src => '/images/address.png'}
          %h3=address.id
          %span{ :class => 'ui-li-count'}=address.instance_id ? address.instance_id : 'Free'


