=header "Instance state transitions"
=subheader "#{driver_symbol}@#{Thread::current[:provider] || ENV['API_PROVIDER'] || 'default'}"

%div{ :'data-role' => :content, :'data-theme' => 'd', :class => 'middle-dialog'}
  %img{ :src => url_for('instance_states?format=png') }

  %ul{ :'data-role' => :listview , :'data-inset' => :true, :'data-theme' => 'a'}
    - @machine.states.each do |state|
      %li{ :'data-role' => 'list-divider', :'class' => 'ui-bar-a', :'data-theme' => 'a'}=state
      - if state.transitions.empty?
        %li{ :'data-role' => 'list-divider'} Action
        %li
          %p{ :'data-role' => 'fieldcontain'}="---"
        %li{ :'data-role' => 'list-divider'} Destination
        %li
          %p{ :'data-role' => 'fieldcontain'}="---"
      - else
        %li{ :'data-role' => 'list-divider'} Action
        - state.transitions.each do |transition|
          %li
            - if transition.automatically?
              %p{ :'data-role' => 'fieldcontain'} auto
            - else
              %p{ :'data-role' => 'fieldcontain'}=transition.action
          %li{ :'data-role' => 'list-divider'} Destination
          %li
            %p{ :'data-role' => 'fieldcontain'}=transition.destination
