- @title=entry_point['name'].first

- content_for :breadcrumb do
  %ul.breadcrumb
    %li.active
      CloudEntryPoint

- content_for :actions do
  %p
    %a{ :href => "#{entry_point['id'].first}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{entry_point['id'].first}?format=json", :class => 'label warning' } JSON

%ul
  - entry_point.select { |k, v| !v.kind_of?(String) and v.first['href'] }.each do |k, v|
    %li
      %a{ :href => '/cimi/'+href_to_id(v.first['href']) }=k
