- @title=@entry_point.name

- content_for :breadcrumb do
  %ul.breadcrumb
    %li.active
      CloudEntryPoint

- content_for :actions do
  %p
    %a{ :href => "#{@entry_point.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@entry_point.id}?format=json", :class => 'label warning' } JSON

%blockquote
  %p
    The Cloud Entry Point represents the entry point into the cloud defined by
    the CIMI Model. The Cloud Entry Point implements a catalog of entities such
    as Systems, System Templates, Machines, Machine Templates, etc. that can be
    queried and browsed by the Consumer

%ul
  - @entities.each do |entity|
    %li
      - if @entry_point.respond_to? entity
        %a{ :href => "/cimi/#{entity}"}=struct_to_name @entry_point.send(entity.intern)
        =not_implemented(entity)

- details('Collection details') do
  - row 'ID', @entry_point.id
  - row 'Description', @entry_point.description
  - row 'Created', @entry_point.created
