- @title=entry_point.name

- content_for :breadcrumb do
  %ul.breadcrumb
    %li.active
      CloudEntryPoint

- content_for :actions do
  %p
    %a{ :href => "#{entry_point.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{entry_point.id}?format=json", :class => 'label warning' } JSON

%ul
  - entry_point.entities.each do |name, struct|
    %li
      %a{ :href => '/cimi/'+href_to_id(struct.href) }=name.to_s.camelize

- details do
  - row 'ID', entry_point.id
  - row 'Base URI', entry_point.base_uri
  - row 'Description', entry_point.description
  - row 'Created', entry_point.created
