- @title=@volume_images.name

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li.active
      VolumeImageCollection

- content_for :actions do
  %p
    %a{ :href => "#{@volume_images.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@volume_images.id}?format=json", :class => 'label warning' } JSON

%ul
  - @volume_images.volume_images.each do |image|
    %li
      %a{ :href => "/cimi/volume_images/#{href_to_id(image.id)}"}=href_to_id(image.id)

- details 'VolumeImageCollection details' do
  - row 'ID', @volume_images.id
  - row ' Description', @volume_images.description
  - row 'Created', @volume_images.created

