- @title=@volume_images.description

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li.active
      VolumeImageCollection

%blockquote
  %p
    A Volume Image Collection entity represents the collection of Volume Image
    entities within a Provider. This entity can be used to locate and create
    Volume Images.

%ul
  - @volume_images.volume_images.each do |image|
    %li
      %a{ :href => "/cimi/volume_images/#{image.href.split('/').last}"}=image.href.split('/').last
