- @title=@volume_images.name

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li.active
      VolumeImageCollection

- content_for :actions do
  %p
    %a{ :href => "#{@volume_images.uri}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@volume_images.uri}?format=json", :class => 'label warning' } JSON

%blockquote
  %p
    A Volume Image Collection entity represents the collection of Volume Image
    entities within a Provider. This entity can be used to locate and create
    Volume Images.

%ul
  - @volume_images.volume_images.each do |image|
    %li
      %a{ :href => "/cimi/volume_images/#{image.href.split('/').last}"}=image.href.split('/').last

%h3 Collection details

%dl
  %dt URI
  %dd=@volume_images.uri
  %dt Description
  %dd=@volume_images.description
  %dt Created
  %dd=@volume_images.created
