
<h1>Images</h1>

<table>
  <tr>
    <th>
      ID
    </th>
    <th>
      Owner
    </th>
    <th>
      Description
    </th>
  </tr>
  <% for image in @images %>
    <tr>
      <td>
        <%= link_to image[:id], image_url( image[:id] ) %>
      </td>
      <td>
        <%= link_to image[:owner_id], account_url( image[:owner_id] ) %>
      </td>
      <td>
        <%= image[:description] %>
      </td>
    </tr>
  <% end %>
</table>
