- @title=collection_name @volume_configurations

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li.active
      VolumeConfigurationCollection

- content_for :actions do
  %p
    %a{ :href => "#{@volume_configurations.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@volume_configurations.id}?format=json", :class => 'label warning' } JSON

%ul
  - @volume_configurations.volume_configurations.each do |conf|
    %li
      %a{ :href => "/cimi/volume_configurations/#{href_to_id(conf.id)}"}=href_to_id(conf.id)

- details 'VolumeConfigurationCollection details' do
  -row 'ID', @volume_configurations.id
  -row 'Count', @volume_configurations.count
