- @title="#{@volume_configuration.name}"

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li
      %a{ :href => "/cimi/volume_configurations"} VolumeConfigurationCollection
      %span.divider="/"
    %li.active
      = @volume_configuration.name

- content_for :actions do
  %p
    %a{ :href => "#{@volume_configuration.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@volume_configuration.id}?format=json", :class => 'label warning' } JSON


- details do
  -row 'ID', @volume_configuration.id
  -row 'Description', @volume_configuration.description
  -row 'Created', @volume_configuration.created
  -row 'Capacity', @volume_configuration.capacity

