=header "Firewalls" do
  %a{ :href => api_url_for('firewalls/new'), :'data-icon' => :plus, :'data-role' => :button, :class => 'ui-btn-right'} Create new firewall
=subheader "#{Thread::current[:provider] || ENV['API_PROVIDER'] || 'default'}"

%div{ :'data-role' => :content, :'data-theme' => 'c'}
  %ul{ :'data-role' => :listview , :'data-inset' => :true, :'data-divider-theme' => 'a'}
    %li{ :'data-role' => 'list-divider'}=driver_symbol
    - @firewalls.each do |firewall|
      %li
        %a{ :href => firewall_url(firewall.id), :'data-ajax' => 'false'}
          %img{ :class => 'ui-link-thumb', :src => '/images/firewall.png'}
          %h3=firewall.id
          %p=firewall.description
          %span{ :class => 'ui-li-count'}=firewall.owner_id

