%h1 New firewall

%form{:action => firewalls_url, :method => :post, :'data-ajax' => 'false'}
  %label
    Firewall Name
    %input{:name => 'name', :size => 25}/
    %br
  %label
    Firewall Description
    %input{:name => 'description', :size => 100}/
  %input{:type => :submit, :name => "commit", :value=>"Create"}
