=header "New firewall rule"

%div{ :'data-role' => :content, :'data-theme' => 'c', :class => 'middle-dialog', :id => "new_rule_form"}
  %form{ :action => "#{firewall_url(@firewall_name)}/rules", :method => :post}
    %div{ 'data-role' => :fieldcontain }
      %label{ :for => :name} Protocol:
      %input{ :type => :text, :id => :protocol, :name => :protocol, :value => '', :size => 10 }
    %div{ 'data-role' => :fieldcontain }
      %label{ :for => :name} From port:
      %input{ :type => :text, :id => :from_port, :name => :from_port, :value => '', :size => 10 }
    %div{ 'data-role' => :fieldcontain }
      %label{ :for => :name} To port:
      %input{ :type => :text, :id => :to_port, :name => :to_port, :value => '', :size => 10 }
    %div{ 'data-role' => :fieldcontain }
      %a{ :href => "javascript:;", :onclick => "make_fields('address');"} Add source IP address
      %br
      %a{ :href => "javascript:;", :onclick => "make_fields('group');"} Add source group
    %button{ :type => :submit} Create

