- @title=@machines.name

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li.active
      MachineCollection

- content_for :actions do
  %p
    %a{ :href => "#{@machines.uri}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@machines.uri}?format=json", :class => 'label warning' } JSON
  %p
    %a{ :href => '/cimi/machines/new', :class => 'btn info'} New machine 


%blockquote
  %p
    A Machine Collection entity represents the collection of Machine
    entities within a Provider. This entity can be used to locate and create
    Machines.

%ul
  - @machines.machines.each do |machine|
    %li
      %a{ :href => "/cimi/machines/#{machine.href.split('/').last}"}=machine.href.split('/').last

- if @machines.machines.empty?
  .alert-message.block-message.warning
    %p
      There are no Machine entities defined for this collection.
    .alert_actions
      %a{ :href => '/cimi/machine/new', :class => 'btn'} Create new

%h3 Collection details

%dl
  %dt URI
  %dd=@machines.uri
  %dt Description
  %dd=@machines.description
  %dt Created
  %dd=@machines.created
