<h1>Edit Credentials</h1>

<% form_tag( credentials_path, :method=>:put ) do %>
  <dl>
    <% for p in driver.credentials_definition do %>
      <di>
        <dt><%= p[:name] %></dt>
        <dd><%= text_field_tag p[:name], session[:credentials][p[:name]] %></dd>
      </di>
    <% end %>
  </dl>
  <%= submit_tag 'update' %>
<% end %>
