
<h1>Current Credentials</h1>

<dl>
  <% for p in driver.credentials_definition do %>
    <di>
      <dt><%= p[:name] %></dt>
      <dd><%= session[:credentials][p[:name]] %></dd>
    </di>
  <% end %>
</dl>

<div>
  <%= link_to 'edit', edit_credentials_url %>
</div>
