---
http_interactions:
- request:
    method: get
    uri: https://api.gogrid.com/api/common/lookup/list?api_key=unknown&format=json&lookup=ip.datacenter&sig=e18fc4cbbff04e5a41821d9d91112690&v=1.9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Mashery-Responder:
      - mashery-web1-lax.mashery.com
      X-Mashery-Error-Code:
      - ERR_403_NOT_AUTHORIZED
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <h1>403 Not Authorized</h1>
  recorded_at: Thu, 23 Aug 2012 11:30:00 GMT
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=unknown&Action=DescribeImages&Filter.1.Name=image-type&Filter.1.Value.1=machine&Owner.1=amazon&Signature=HWVZgMxHm4JfqFvLRBmTq5Uct57scdFvQeTMzVbYCvA=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-08-23T11:30:00.000Z&Version=2010-08-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <Response><Errors><Error><Code>AuthFailure</Code><Message>AWS was not able
        to validate the provided access credentials</Message></Error></Errors><RequestID>25821fcd-a85c-48ad-9314-127ae241cefd</RequestID></Response>'
  recorded_at: Thu, 23 Aug 2012 11:30:00 GMT
- request:
    method: get
    uri: https://api.gogrid.com/api/grid/image/list?api_key=unknown&format=json&sig=e18fc4cbbff04e5a41821d9d91112690&state=Available&v=1.9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Mashery-Responder:
      - mashery-web2-lax.mashery.com
      X-Mashery-Error-Code:
      - ERR_403_NOT_AUTHORIZED
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <h1>403 Not Authorized</h1>
  recorded_at: Thu, 23 Aug 2012 11:30:00 GMT
[...]
- request:
    method: get
    uri: https://api.gogrid.com/api/grid/image/list?api_key=unknown&format=json&sig=3ec97cd3dba2ac6101469b100a3d888d&state=Available&v=1.9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Mashery-Responder:
      - mashery-web1-lax.mashery.com
      X-Mashery-Error-Code:
      - ERR_403_NOT_AUTHORIZED
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <h1>403 Not Authorized</h1>
  recorded_at: Thu, 23 Aug 2012 12:12:00 GMT
recorded_with: VCR 2.2.4
