=header "Keys" do
  %a{ :href => url_for('keys/new'), :'data-icon' => :plus, :'data-role' => :button, :class => 'ui-btn-right'} Create new key

%div{ :'data-role' => :content, :'data-theme' => 'c'}
  %ul{ :'data-role' => :listview , :'data-inset' => :true, :'data-divider-theme' => 'a'}
    - @elements.each do |key|
      %li
        %a{ :href => key_url(key.id), :'data-ajax' => 'false'}
          %img{ :class => 'ui-link-thumb', :src => '/images/key.png'}
          %h3=key.id
          %p=key.name
          %p
            - if key.credential_type.eql?(:key)
              = key.fingerprint
            - if key.credential_type.eql?(:password)
              = "#{key.username} - #{key.password}"
