=header "Create new SSH key"

%div{ :'data-role' => :content, :'data-theme' => 'c', :class => 'middle-dialog'}
  %form{ :action => keys_url, :method => :post}
    %div{ 'data-role' => :fieldcontain }
      %label{ :for => :name} Key name:
      %input{ :type => :text, :id => :name, :name => :name, :value => '' }
    %button{ :type => :submit} Create key
