%h1 New key

%form{ :action => keys_url, :method => :post }
  %p
    %label
      Name:
    %input{ :name => 'name', :size => 30 }/
    %input{ :type => :submit, :name => "commit", :value => "create" }/
