<h1><%= @realm.id %></h1>

<dl>
  <di>
    <dt>
      Name
    </dt>
    <dd>
      <%= @realm.name %>
    </dd>
  </di>
  <di>
    <dt>
      State
    </dt>
    <dd>
      <%= @realm.state %>
    </dd>
  </di>
  <di>
    <dt>
      Limit
    </dt>
    <dd>
      <%= @realm.limit %>
    </dd>
  </di>
</dl>
