---
title: Deltacloud - Contribute
extension: html
filter:
  - haml
  - outline
---
%h1 Help make Deltacloud better

<toc class="toc" numbering="off" toc_style="ul" toc_range="h2-h3" />

%p All development of Deltacloud takes place in the open. Communication is run through the mailing list and all source code changes are tracked publicly.

%ul
  %li
    %strong Mailing Lists
    %br
    :markdown
      For Deltacloud API: <deltacloud-dev@incubator.apache.org>.
      To subscribe to it, send an email to <deltacloud-dev-subscribe@incubator.apache.org>.
      You can also view [Archive][1] in case you are missing something.

      [1]: http://mail-archives.apache.org/mod_mbox/incubator-deltacloud-dev/
  %li
    %strong IRC
    %br
    :markdown
      You can also join us on the Freenode IRC channel #deltacloud. Deltacloud developers are generally available on the IRC channel
  %li
    %strong Bugs
    %br
    :markdown
      We track bugs in [Apache JIRA][2]. You can [view open bugs][view-bugs] or [file a new one][new-bug] there.

      [2]: https://issues.apache.org/jira/browse/DTACLOUD
      [view-bugs]: https://issues.apache.org/jira/browse/DTACLOUD
      [new-bug]: https://issues.apache.org/jira/secure/CreateIssue!default.jspa
  %li
    %strong Patches
    %br
    :markdown
      Patches are very welcome. Please send them to the [development list][3]. Patches should be generated with [`git`&nbsp;`format-patch`][4] and sent to the list with [`git`&nbsp;`send-email`][5].

      [3]: http://mail-archives.apache.org/mod_mbox/incubator-deltacloud-dev/
      [4]: http://kernel.org/pub/software/scm/git/docs/git-format-patch.html
      [5]: http://kernel.org/pub/software/scm/git/docs/git-send-email.html

= render(:partial => "markdown", :locals => {:path => '../README'} )
