---
title: Deltacloud
extension: html
filter: haml
---
%div{ :style => "width:400px; margin:50px auto;" }
  %object#FLVPlayer1{ :height => "300", :classid => "clsid:D27CDB6E-AE6D-11cf-96B8-444553540000", :width => "400" }
    %param{ :name => "movie", :value => "FLVPlayer_Progressive.swf" }
    %param{ :name => "quality", :value => "high" }
    %param{ :name => "wmode", :value => "opaque" }
    %param{ :name => "scale", :value => "noscale" }
    %param{ :name => "salign", :value => "lt" }
    %param{ :name => "FlashVars", :value => "&amp;MM_ComponentVersion=1&amp;skinName=Clear_Skin_1&amp;streamName=video/DCloud_Demo&amp;autoPlay=true&amp;autoRewind=false" }
    %param{ :name => "swfversion", :value => "8,0,0,0" }
    /
      This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt.
    %param{ :name => "expressinstall", :value => "Scripts/expressInstall.swf" }
    /
      Next object tag is for non-IE browsers. So hide it from IE using IECC.
    /
      [if !IE]>
    %object{ :type => "application/x-shockwave-flash", :height => "300", :data => "FLVPlayer_Progressive.swf", :width => "400" }
      /
        <![endif]
      %param{ :name => "quality", :value => "high" }
      %param{ :name => "wmode", :value => "opaque" }
      %param{ :name => "scale", :value => "noscale" }
      %param{ :name => "salign", :value => "lt" }
      %param{ :name => "FlashVars", :value => "&amp;MM_ComponentVersion=1&amp;skinName=Clear_Skin_1&amp;streamName=video/DCloud_Demo&amp;autoPlay=true&amp;autoRewind=false" }
      %param{ :name => "swfversion", :value => "8,0,0,0" }
      %param{ :name => "expressinstall", :value => "Scripts/expressInstall.swf" }
      /
        The browser displays the following alternative content for users with Flash Player 6.0 and older.
      %div
        %h4
          Content on this page requires a newer version of Adobe Flash Player.
        %p
          %a{ :href => "http://www.adobe.com/go/getflashplayer" }
            %img{ :src => "http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif", :alt => "Get Adobe Flash player" }
      /
        [if !IE]>
    /
      <![endif]
