- @title="#{@machine_template.name}"

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li
      %a{ :href => "/cimi/machine_templates"} MachineTemplateCollection
      %span.divider="/"
    %li.active
      = @machine_template.name

-details 'MachineTemplate details' do
  -row 'id',@machine_template.id
  -row 'Name',@machine_template.name
  -row 'Description',@machine_template.description
  -row 'Created',@machine_template.created
  -row 'Machine Image', url("/cimi/machine_images/#{href_to_id @machine_template.machine_image.href}")
  -row 'Machine Configuration', url("/cimi/machine_configurations/#{href_to_id @machine_template.machine_config.href}")
