- @title="#{@machine_template.name}"

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li
      %a{ :href => "/cimi/machine_templates"} MachineConfigurationCollection
      %span.divider="/"
    %li.active
      = @machine_template.name

%blockquote
  %p
    The Machine Configuration entity represents the set of configuration values
    that define the (virtual) hardware resources of a to-be-realized Machine
    Instance. Machine Configurations are created by Providers and MAY, at the
    Providers discretion, be created by Consumers.

-details 'MachineTemplate details' do
  -row 'id',@machine_template.id
  -row 'Description',@machine_template.description
  -row 'Created',@machine_template.created
