%docs{:status => "unsupported"}
  - collections.keys.sort_by { |k| k.to_s }.each do |collection|
    %collection{:url => "/api/docs/#{collection}"}
      %name #{collection}
      %description  #{collections[collection].description}
