=header "Deltacloud API #{settings.version} documentation", :back => 'false'
=subheader "#{action_method(operation.name, collection.name).to_s.upcase} /api/#{collection.name}/#{operation.name}"

%div{ :'data-role' => :content, :'data-theme' => 'c'}
  %ul{ :'data-role' => :listview , :'data-inset' => :true, :'data-divider-theme' => 'd'}
    %li{ :'data-role' => 'list-divider'}
      %h3
        Description:
    %li
      %br
      %p=operation.description

  %ul{ :'data-role' => :listview , :'data-inset' => :true, :'data-divider-theme' => 'd'}
    %li{ :'data-role' => 'list-divider', :'data-divider-theme' => 'a'}
      %h3 Parameters:
    - operation.each_param do |p|
      %li{ :'data-role' => 'list-divider'}
        =p.name
        %span{ :class => 'ui-li-count'}
          =[p.type,p.klass].join(',')
      %li
        %br
        %p=p.description.empty? ? '<strong>FIXME:</strong> No description for this parameter' : p.description
    - features.sort { |a,b| a.name.to_s <=> b.name.to_s }.each do |f|
      - f.decl.operation(operation.name).each_param do |p|
        %li{ :'data-role' => 'list-divider'}
          =p.name
          %span{ :class => 'ui-li-count'}
            =[p.type,p.klass].join(',')
        %li
          %br
          %p=p.description.empty? ? '<strong>FIXME:</strong> No description for this parameter' : p.description

