- @title=@vsps.description

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li.active
      VSPCollection

- content_for :actions do
  %p
    %a{ :href => "#{@vsps.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@vsps.id}?format=json", :class => 'label warning' } JSON

%blockquote
  %p
    A VSP Collection entity represents the collection of VSPs within a Provider.
    This entity can be used to locate and create VSPs.

%h3 VSPCollection
%ul
  - @vsps.vsps.each do |vsp|
    %li
      %a{ :href => "/cimi/vsps/#{vsp.href.split('/').last}"}=vsp.href.split('/').last

-details 'VSPCollection details' do
  -row 'ID', @vsps.id
  -row 'Description', @vsps.description
  -row 'Created', @vsps.created
