%h1 Bad Request

%p= @error.message

%dl
  %di
    %dt Request URL
    %dd= request.env['REQUEST_URI']
  %di
    %dt Parameter
    %dd= @error.name
  %di
    %dt Status code
    %dd= response.status
  %di
    %dt Explanation
    %dd
      The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modifications.
