%error{:url => "#{request.env['REQUEST_URI']}", :status => "#{response.status}"}
  %backend{ :driver => driver_symbol, :provider => "#{Thread::current[:provider] || ENV['API_PROVIDER'] || 'default'}" }
  %message Resource not found
