%error{:url => "#{request.env['REQUEST_URI']}", :status => "#{response.status}"}
  %kind backend_error
  %backend{ :driver => driver_symbol, :provider => "#{Thread::current[:provider] || ENV['API_PROVIDER'] || 'default'}" }
    %code=response.status
  %message< #{cdata @error.message}
  - if params
    %request
      - params.each do |k, v|
        %param{ :name => k}=v
  - if @error.respond_to? :backtrace
    %backtrace=@error.backtrace.join("\n")

