%h1 Backend provider error

%p= @error.message

%dl
  %di
    %dt Request URL
    %dd= request.env['REQUEST_URI']
  %di
    %dt Parameters
    %dd= params.inspect
  %di
    %dt Code
    %dd= @error.code
  %di
    %dt Explanation
    %dd
      The server, while acting as a gateway or proxy, received an invalid response from the upstream server it accessed in attempting to fulfill the request.
