- unless defined?(partial)
  !!! XML
%error{ :url => request.env['REQUEST_URI'], :status => response.status }
  %backend{ :driver => driver_symbol, :provider => current_provider }
  %code=response.status
  %message<
    - if err.respond_to? :message
      =cdata err.message
    - else
      =translate_err_code(response.status)
  - if err.respond_to? :backtrace
    %backtrace
      =cdata err.backtrace.nil? ? '' : err.backtrace.join("\n")
    %request
      - if params
        -params.each do |name, value|
          %param{ :name => name }=cdata value.inspect
