!!! XML
%image{:href => image_url(@image.id), :id => @image.id}
  - @image.attributes.select{ |attr| attr!=:id }.each do |attribute|
    - haml_tag(attribute, :<) do
      - haml_concat @image.send(attribute)
