
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Deltacloud - Documentation</title>
  
  

  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="./styles/favicon.ico" type="image/x-icon">
  <link rel="StyleSheet" type="text/css" href="./styles/default.css" title="Main style">

  <link rel="Alternate StyleSheet" type="text/css" href="./styles/default-debug.css" title="Debug main style">

</head>


<body>
  <div id="header">
  	<div class="container">
    	<div id="headerLogo" style="cursor: pointer;" onclick="location.href='index.html';">
    	<h1>Deltacloud - Many clouds. One API. No problem.</h1>
    	</div>

	</div>
  </div>

    <div id="navigation">

    <div id="menu" class="container">
      <ul class="l0">
		<li><a class="inactive" title="Deltacloud Home" href="./index.html">Home</a></li>
		<li><a class="inactive" title="Tools" href="./tools.html">Tools</a></li>			
		<li><a class="inactive" title="Get the latest releases" href="./download.html">Download</a></li>

		<li><a class="inactive" title="Information about design/development process" href="./contribute.html">Contribute</a></li>
		<li><a class="active" title="Project documentation" href="./documentation.html">Documentation</a></li>
	  </ul>

    </div>
    </div>
	<div id ="subnavigation">
	<div id="submenu" class="container">

          $DOC_NAV$

	</div>
	</div>
 
	<div id="main">
    <div id="content" class="container">
      $REPLACE$
    </div>
  </div>

  <div id="footer">
    <div id="projects" class="container">
       <p id="et">
      <a href="http://et.redhat.com/"><img src="./styles/et_logo.png" alt="A Red Hat Emerging Technology Project"></a>

    </p>
      <dl id="p1">
        <dt><a href="http://augeas.net/">Augeas</a></dt>

        <dd><span>A configuration editing tool and API</span></dd>
        <dt><a href="http://libvirt.org/">libvirt</a></dt>
        <dd><span>The open source virtualization API</span></dd>
      </dl>

      <dl id="p2">
        <dt><a href="http://cobbler.et.redhat.com/">Cobbler</a></dt>

        <dd>OS provisioning and profile management</dd>
        <dt><a href="http://libguestfs.org/">virt-v2v</a></dt>
        <dd><span>Migrate guests from one hypervisor to another</span></dd>
      </dl>
      <dl id="p3">

        <dt><a href="http://freeipa.org/">FreeIPA</a></dt>

        <dd><span>Identity, policy and audit management</span></dd>
        <dt><a href="http://virt-manager.org/">Virtual Machine Manager</a></dt>
        <dd><span>Virtualization management from the desktop</span></dd>
      </dl>

  	</div>

    </div>

</body>
</html>

