---
http_interactions:
- request:
    method: get
    uri: https://testbucki2rpux3wdelmegoogel.storage.googleapis.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - GOOG1 GOOG4PBMMHEB2BTY6Q7U:KJdF+x7gNJiXVyDGHrNeQ9rnZEo=
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><ListBucketResult xmlns='http://doc.s3.amazonaws.com/2006-03-01'><Name>testbucki2rpux3wdelmegoogel</Name><Prefix></Prefix><Marker></Marker><IsTruncated>false</IsTruncated><Contents><Key>testblobk1ds91kVdelmegoogel</Key><Generation>1348657487201001</Generation><MetaGeneration>1</MetaGeneration><LastModified>2012-09-26T11:04:47.196Z</LastModified><ETag>"6051b502c4281855ff32dc3e924fe3b0"</ETag><Size>24436</Size><Owner><ID>00b4903a97efc6d73ef1dfe92e24dc7a438e44626a28441ff80b24096638b099</ID><DisplayName>Michal
        Fojtik</DisplayName></Owner></Contents></ListBucketResult>
  recorded_at: Wed, 26 Sep 2012 11:05:38 GMT
recorded_with: VCR 2.2.5
