--- 
http_interactions: 
- request: 
    method: get
    uri: https://commondatastorage.googleapis.com/
    body: 
      string: ""
    headers: 
      Authorization: 
      - GOOG1 GOOGXKQLYTEOZTILUBZ5:MTx1ZUAYGF2chkSV97+H04qAFMo=
  response: 
    status: 
      code: 200
      message: 
    headers: 
      Content-Type: 
      - application/xml; charset=UTF-8
    body: 
      string: <?xml version='1.0' encoding='UTF-8'?><ListAllMyBucketsResult xmlns='http://doc.s3.amazonaws.com/2006-03-01'><Owner><ID>00b4903a97866666a0d78ccdcf31c5015cac5d76415d1d23aa190f3c14975a1f</ID></Owner><Buckets><Bucket><Name>marios_bucket</Name><CreationDate>2011-08-16T11:05:02.262Z</CreationDate></Bucket><Bucket><Name>usmariosnewbucket</Name><CreationDate>2011-09-19T12:34:31.218Z</CreationDate></Bucket></Buckets></ListAllMyBucketsResult>
  recorded_at: Thu, 28 Jun 2012 13:52:03 GMT
recorded_with: VCR 2.2.2
