--- 
http_interactions: 
- request: 
    method: get
    uri: https://testbucki2rpux3wdelmegoogel.commondatastorage.googleapis.com/
    body: 
      string: ""
    headers: 
      Authorization: 
      - GOOG1 GOOGXKQLYTEOZTILUBZ5:rGTQT5CB3yfeXWfHMO2PPfRS+nU=
  response: 
    status: 
      code: 200
      message: 
    headers: 
      Content-Type: 
      - application/xml; charset=UTF-8
    body: 
      string: <?xml version='1.0' encoding='UTF-8'?><ListBucketResult xmlns='http://doc.s3.amazonaws.com/2006-03-01'><Name>testbucki2rpux3wdelmegoogel</Name><Prefix></Prefix><Marker></Marker><IsTruncated>false</IsTruncated><Contents><Key>testblobk1ds91kVdelmegoogel</Key><LastModified>2012-06-28T13:51:55.477Z</LastModified><ETag>"6051b502c4281855ff32dc3e924fe3b0"</ETag><Size>24436</Size><StorageClass>STANDARD</StorageClass><Owner><ID>00b4903a9772c5a80c691066edef0ac07b267f576a2d11bbfc5bf1d2c7a2b8fd</ID></Owner></Contents></ListBucketResult>
  recorded_at: Thu, 28 Jun 2012 13:51:56 GMT
recorded_with: VCR 2.2.2
