- @title=collection_name @network_templates

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li.active
      NetworkTemplateCollection

- content_for :actions do
  %p
    %a{ :href => "#{@network_templates.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@network_templates.id}?format=json", :class => 'label warning' } JSON

%ul
  - @network_templates.network_templates.each do |template|
    %li
      %a{ :href => "/cimi/network_templates/#{href_to_id(template.id)}"}=href_to_id(template.id)

-details do
  -row 'ID', @network_templates.id
  -row 'Count', @network_templates.count
