%div{ :'data-role' => :content, :'data-theme' => 'b'}
  %ul{ :'data-role' => :listview , :'data-inset' => :true, :'data-divider-theme' => 'e'}
    %li{ :'data-role' => 'list-divider'} Server message
    %li
      %h3 Method not allowed on given resource
    %li{ :'data-role' => 'list-divider'} Original request URI
    %li
      %a{ :href => request.env['REQUEST_URI'], :'data-ajax' => 'false'}
        %span=request.env['REQUEST_URI']
        %span{ :class => 'ui-li-count'} Retry

  %div{ 'data-role' => :collapsible, 'data-collapsed' => "true"}
    %h3 Parameters
    %ul{ :'data-role' => :listview , :'data-inset' => :true, :'data-divider-theme' => 'e'}
      - if params.keys.empty?
        %li{ :'data-role' => 'list-divider'} No parameters
      - params.each do |key, value|
        %li{ :'data-role' => 'list-divider'}=key
        %li
          %span{:style => 'font-weight:normal;'}=value.inspect


  %div{ 'data-role' => :collapsible, 'data-collapsed' => "true"}
    %h3 Request details
    %ul{ :'data-role' => :listview , :'data-inset' => :true, :'data-divider-theme' => 'e'}
      - request.env.each do |key, value|
        %li{ :'data-role' => 'list-divider'}=key
        %li
          %span{:style => 'font-weight:normal;'}=value.inspect
