!!! 5
%html{ :lang => :en }
  %head
    %meta{ :charset => 'utf-8' }
    %title CIMI Client
    /[if lt IE 9]
      %script{ :src => '/html5.js' }
    %link{ :href => '/bootstrap/bootstrap.min.css', :rel => :stylesheet }
    %link{ :href => '/app.css', :rel => :stylesheet }
    %body
      .topbar
        .fill
          .container
            %a.brand{ :href => '/' } CIMI frontend
      .container
        .content
          .page-header
            %h1=@title || 'no-title-fix-me'
            = yield_content :breadcrumb
          .row
            .span10
              =yield
            .span4
              %h3 Actions
              =yield_content :actions
              %span.label.warning
                TODO: Implement me!
        %footer
          %p
            &copy; 2009-2011 The Apache Software Foundation and individual contributors.

