!!! 5
%html{ :lang => :en }
  %head
    %meta{ :charset => 'utf-8' }
    %title CIMI Client
    /[if lt IE 9]
      %script{ :src => '/html5.js' }
    %script{ :src => '/jquery-1.4.2.min.js' }
    %script{ :src => '/bootstrap/js/bootstrap-alerts.js' }
    %link{ :href => '/bootstrap/bootstrap.min.css', :rel => :stylesheet }
    %link{ :href => '/app.css', :rel => :stylesheet }
    %script{ :src => '/app.js' }
    %body
      .topbar
        .fill
          .container
            %a.brand{ :href => '/' } CIMI frontend
      .container
        .content
          .page-header
            %h1=@title || 'no-title-fix-me'
            = yield_content :breadcrumb
          .row
            .span10#main
              - [ :info, :error, :success ].map do |message|
                = flash_block_for message
              =yield
            .span4#toolbar=yield_content :actions
        %footer
          %p
            &copy; 2009-2011 The Apache Software Foundation and individual contributors.

