
<h1>&#x3B4;-cloud-framework</h1>

<ul>
  <li><%= link_to 'Credentials', credentials_url %></li>
  <li><%= link_to 'Images',      images_url %></li>
  <li><%= link_to 'Instances',   instances_url %></li>
</ul>
