<h1><%= @flavor[:id] %></h1>

<dl>
  <di>
    <dt>
      Architecture
    </dt>
    <dd>
      <%= @flavor[:architecture] %>
    </dd>
  </di>
  <di>
    <dt>
      Memory
    </dt>
    <dd>
      <%= @flavor[:memory] %> GB
    </dd>
  </di>
  <di>
    <dt>
      Storage
    </dt>
    <dd>
      <%= @flavor[:storage] %> GB
    </dd>
  </di>
</dl>
