=header "Load balancers" do
  %a{ :href => url_for('load_balancers/new'), :'data-icon' => :plus, :'data-role' => :button, :class => 'ui-btn-right'} Create new load balancer
=subheader "#{Thread::current[:provider] || ENV['API_PROVIDER'] || 'default'}"

%div{ :'data-role' => :content, :'data-theme' => 'c'}
  %ul{ :'data-role' => :listview , :'data-inset' => :true, :'data-divider-theme' => 'a'}
    - elements.each do |balancer|
      %li
        %a{ :href => load_balancer_url(balancer.id), :'data-ajax' => 'false'}
          %img{ :class => 'ui-link-thumb', :src => '/images/balancer.png'}
          - if balancer.name
            %h3="#{balancer.name} (#{balancer.id})"
          - else
            %h3=balancer.id
          %p=balancer.public_addresses.join(', ')
          %span{ :class => 'ui-li-count'}=balancer.realms.first.id
