%h1 New Load Balancer

%form{ :action => '/api/load_balancers', :method => :post }
  %p
    %label
      Name:
    %input{ :name => 'name', :size => 30 }/
  -if @instances
    %p
      %label
        Running instance:
      %select{ :name => 'instance_id'}
        - @instances.select{|i| i.state=="RUNNING"}.each do |instance|
          %option{ :value => instance.id } #{instance.id}
  %p
    %label
      Realm:
    %select{ :name => 'realm_id'}
      - @realms.each do |realm|
        %option{ :value => realm.id } #{realm.id} - #{realm.name}
  %hr
  %p
    %label
      Protocol:
    %select{ :name => 'listener_protocol'}
      %option{ :value => 'HTTP'}  HTTP
      %option{ :value => 'TCP'} TCP
  %p
    %label
      Load balancer port:
    %input{ :name => "listener_lbr_port", :size => 30}
  %p
    %label
      Instances port:
    %input{ :name => "listener_inst_port", :size => 30}
  %p
    %input{ :type => :submit, :name => "commit", :value => "create" }/

