- @title=collection_name @machine_configurations

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li.active=collection_name @machine_configurations

- content_for :actions do
  %p
    %a{ :href => "#{@machine_configurations.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@machine_configurations.id}?format=json", :class => 'label warning' } JSON

%h3 MachineConfigurationCollection
%ul
  - @machine_configurations.machine_configurations.each do |conf|
    %li
      %a{ :href => "/cimi/machine_configurations/#{href_to_id(conf.id)}"}=href_to_id(conf.id)

- details do
  - row 'ID', @machine_configurations.id
  - row 'Count', @machine_configurations.count
