- @title="#{@machine_configuration.name}"

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li
      %a{ :href => "/cimi/machine_configurations"} MachineConfigurationCollection
      %span.divider="/"
    %li.active
      = @machine_configuration.name

- content_for :actions do
  %p
    %a{ :href => "#{@machine_configuration.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@machine_configuration.id}?format=json", :class => 'label warning' } JSON

- details do
  - row 'ID', @machine_configuration.id
  - row 'Name', @machine_configuration.name
  - row 'Description', @machine_configuration.description
  - row 'Created', @machine_configuration.created
  - row 'Num of CPUs', @machine_configuration.cpu
  - row 'Memory (RAM)', @machine_configuration.memory
  - row 'Storage (disks)', @machine_configuration.disks.map { |d| [d.capacity, d.format].join('&nbsp;') }.join(',')

