- @title="#{@machine_configuration.name}"

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li
      %a{ :href => "/cimi/machine_configurations"} MachineConfigurationCollection
      %span.divider="/"
    %li.active
      = @machine_configuration.name

- content_for :actions do
  %p
    %a{ :href => "#{@machine_configuration.uri}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@machine_configuration.uri}?format=json", :class => 'label warning' } JSON

%blockquote
  %p
    The Machine Configuration entity represents the set of configuration values
    that define the (virtual) hardware resources of a to-be-realized Machine
    Instance. Machine Configurations are created by Providers and MAY, at the
    Providers discretion, be created by Consumers.

- details('MachineConfiguration details') do
  - row 'URI', @machine_configuration.uri
  - row 'Description', @machine_configuration.description
  - row 'Created', @machine_configuration.created
  - row '# of CPU', @machine_configuration.cpu
  - row 'Memory (RAM)', [@machine_configuration.memory[:quantity], @machine_configuration.memory[:units]].join('&nbsp;')
  - row 'Storage (disks)', @machine_configuration.disks.map { |d| [ d.capacity.quantity, d.capacity.units ].join('&nbsp;') }.join(',')

