---
http_interactions:
- request:
    method: post
    uri: https://region-a.geo-1.identity.hpcloudsvc.com:35357/v2.0/tokens
    body:
      encoding: UTF-8
      string: ! '{"auth":{"passwordCredentials":{"username":"foo@fakedomain.eu","password":"1234fake56789"},"tenantName":"foo@fakedomain.eu-default-tenant"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\"access\": {\n  \"token\": {\n    \"expires\": \"2013-02-13T23:13:39.252Z\",\n
        \   \"id\": \"EUAuth_01d7206e81832d1ac45183ab9531ba4f6cdc231590a31d5a326aa3cac417cdd1\",\n
        \   \"tenant\": {\n      \"id\": \"123456fake7890\",\n      \"name\": \"foo@fakedomain.eu-default-tenant\"\n
        \   }\n  },\n  \"user\": {\n    \"id\": \"98765fake43210\",\n    \"name\":
        \"foo@fakedomain.eu\",\n    \"roles\": [\n      {\n        \"id\": \"00000000004013\",\n
        \       \"serviceId\": \"130\",\n        \"name\": \"block-admin\",\n        \"tenantId\":
        \"123456fake7890\"\n      },\n      {\n        \"id\": \"00000000004025\",\n
        \       \"serviceId\": \"120\",\n        \"name\": \"sysadmin\",\n        \"tenantId\":
        \"123456fake7890\"\n      },\n      {\n        \"id\": \"00000000004024\",\n
        \       \"serviceId\": \"140\",\n        \"name\": \"user\",\n        \"tenantId\":
        \"123456fake7890\"\n      },\n      {\n        \"id\": \"00000000004022\",\n
        \       \"serviceId\": \"110\",\n        \"name\[...]
- request:
    method: get
    uri: https://az-1.region-a.geo-1.compute.hpcloudsvc.com/v1.1/123456fake7890/servers/815229
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - EUAuth_01d7206e81832d1ac45183ab9531ba4f6cdc231590a31d5a326aa3cac417cdd1
      X-Storage-Token:
      - EUAuth_01d7206e81832d1ac45183ab9531ba4f6cdc231590a31d5a326aa3cac417cdd1
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"server": {"status": "BUILD(spawning)", "updated": "2013-02-13T11:13:40Z",
        "hostId": "ca7cb01b56a596c661e279465985f255cac82281bb0577dba0f29a40", "user_id":
        "98765fake43210", "name": "server2013-02-13 13:13:29 +0200", "links": [{"href":
        "https://az-1.region-a.geo-1.compute.hpcloudsvc.com/v1.1/123456fake7890/servers/815229",
        "rel": "self"}, {"href": "https://az-1.region-a.geo-1.compute.hpcloudsvc.com/123456fake7890/servers/815229",
        "rel": "bookmark"}], "addresses": {"private": [{"version": 4, "addr": "10.4.228.247"},
        {"version": 4, "addr": "15.185.109.171"}]}, "tenant_id": "123456fake7890",
        "image": {"id": "78265", "links": [{"href": "https://az-1.region-a.geo-1.compute.hpcloudsvc.com/123456fake7890/images/78265",
        "rel": "bookmark"}]}, "created": "2013-02-13T11:13:33Z", "uuid": "8814be91-b5a9-4a29-a980-68bfd0454b4a",
        "accessIPv4": "", "accessIPv6": "", "key_name": null, "flavor": {"id": "100",
        "links": [{"href": "https://az-1.region-a.geo-1.compute.hpcloudsvc.com/123456fake7890/flavors/100",
        "rel": "bookmark"}]}, "config_drive": "", "id": 815229, "security_groups":
        [{"name": "default", "links": [{"href": "https://az-1.region-a.geo-1.compute.hpcloudsvc.com/v1.1/123456fake7890/os-security-groups/62635",
        "rel": "bookmark"}], "id": 62635}], "metadata": {}}}'
  recorded_at: Wed, 13 Feb 2013 11:13:41 GMT
- request:
    method: get
    uri: https://az-1.region-a.geo-1.compute.hpcloudsvc.com/v1.1/123456fake7890/extensions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - EUAuth_01d7206e81832d1ac45183ab9531ba4f6cdc231590a31d5a326aa3cac417cdd1
      X-Storage-Token:
      - EUAuth_01d7206e81832d1ac45183ab9531ba4f6cdc231590a31d5a326aa3cac417cdd1
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"extensions": [{"updated": "2011-03-25T00:00:00+00:00", "name":
        "Volumes", "links": [], "namespace": "http://docs.openstack.org/ext/volumes/api/v1.1",
        "alias": "os-volumes", "description": "Volumes support"}, {"updated": "2012-10-11T00:00:00+00:00",
        "name": "HP Bootable Volumes", "links": [], "namespace": "http://docs.openstack.org/ext/hp-bootable-volumes/api/v1.1",
        "alias": "hp-bootable-volumes", "description": "hp bootable volumes support"},
        {"updated": "2011-08-18T00:00:00+00:00", "name": "Rescue", "links": [], "namespace":
        "http://docs.openstack.org/ext/rescue/api/v1.1", "alias": "os-rescue", "description":
        "Instance rescue mode"}, {"up[...]
- request:
    method: get
    uri: https://az-1.region-a.geo-1.compute.hpcloudsvc.com/v1.1/123456fake7890/servers/815229/os-volume_attachments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - EUAuth_01d7206e81832d1ac45183ab9531ba4f6cdc231590a31d5a326aa3cac417cdd1
      X-Storage-Token:
      - EUAuth_01d7206e81832d1ac45183ab9531ba4f6cdc231590a31d5a326aa3cac417cdd1
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"volumeAttachments": []}'
  recorded_at: Wed, 13 Feb 2013 11:13:44 GMT
recorded_with: VCR 2.4.0
