--- 
recorded_with: VCR 2.3.0
http_interactions: 
- request: 
    method: post
    uri: https://region-a.geo-1.identity.hpcloudsvc.com:35357/v2.0/tokens
    body: 
      string: "{\"auth\":{\"passwordCredentials\":{\"username\":\"foo@fakedomain.eu\",\"password\":\"1234fake56789\"},\"tenantName\":\"foo@fakedomain.eu-default-tenant\"}}"
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: |-
        {"access": {
          "token": {
            "expires": "2012-12-11T23:42:00.168Z",
            "id": "EUAuth_01d7206e81832d1ac45183ab9531ba4f6cdc231590a31d5a326aa3cac417cdd1",
            "tenant": {
              "id": "123456fake7890",
              "name": "foo@fakedomain.eu-default-tenant"
            }
          },
          "user": {
            "id": "98765fake43210",
            "name": "foo@fakedomain.eu",
            "roles": [
              {
                "id": "00000000004024",
                "serviceId": "140",
                "name": "user",
                "tenantId": "123456fake7890"
              },
              {
                "id": "00000000004022",
                "serviceId": "110",
                "name": "Admin",
                "tenantId": "123456fake7890"
              },
              {
                "id": "00000000004025",
                "serviceId": "120",
                "name": "sysadmin",
                "tenantId": "123456fake7890"
              },
              {
                "id": "00000000004003",
                "serviceId": "100",
                "name": "domainadmin"
              },
              {
                "id": "00000000004016",
                "serviceId": "120",
                "name": "netadmin",
                "tenantId": "123456fake7890"
              },
              {
                "id": "00000000004004",
                "serviceId": "100",
                "name": "domainuser"
              },
              {
                "id": "00000000004013",
                "serviceId": "130",
                "name": "block-admin",
                "tenantId": "123456fake7890"
              }
            ]
          },
          "serviceCatalog": [
            {
              "name": "Object Storage",
              "type": "object-store",
              "endpoints": [{
                "tenantId": "123456fake7890",
                "publicURL": "https:\/\/region-a.geo-1.objects.hpcloudsvc.com\/v1\/123456fake7890",
                "region": "region-a.geo-1",
                "versionId": "1.0",
                "versionInfo": "https:\/\/region-a.geo-1.objects.hpcloudsvc.com\/v1.0\/",
                "versionList": "https:\/\/region-a.geo-1.objects.hpcloudsvc.com"
              }]
            },
            {
              "name": "Identity",
              "type": "identity",
              "endpoints": [
                {
                  "publicURL": "https:\/\/region-b.geo-1.identity.hpcloudsvc.com:35357\/v2.0\/",
                  "region": "region-b.geo-1",
                  "versionId": "2.0",
                  "versionInfo": "https:\/\/region-b.geo-1.identity.hpcloudsvc.com:35357\/v2.0\/",
        [...]
- request: 
    method: get
    uri: https://az-2.region-a.geo-1.compute.hpcloudsvc.com/v1.1/123456fake7890/servers/806837
    body: 
      string: ""
    headers: 
      X-Storage-Token: 
      - EUAuth_01d7206e81832d1ac45183ab9531ba4f6cdc231590a31d5a326aa3cac417cdd1
      Content-Type: 
      - application/json
      X-Auth-Token: 
      - EUAuth_01d7206e81832d1ac45183ab9531ba4f6cdc231590a31d5a326aa3cac417cdd1
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      string: "{\"server\": {\"status\": \"ACTIVE\", \"updated\": \"2012-12-11T11:36:16Z\", \"hostId\": \"bbe65f8ab3fc264a6d7b576cf43db3268a0053b15a84ec9b1daaaf22\", \"user_id\": \"98765fake43210\", \"name\": \"Server-1355225740-az-2-region-a-geo-1\", \"links\": [{\"href\": \"https://az-2.region-a.geo-1.compute.hpcloudsvc.com/v1.1/123456fake7890/servers/806837\", \"rel\": \"self\"}, {\"href\": \"https://az-2.region-a.geo-1.compute.hpcloudsvc.com/123456fake7890/servers/806837\", \"rel\": \"bookmark\"}], \"addresses\": {\"private\": [{\"version\": 4, \"addr\": \"10.7.17.252\"}, {\"version\": 4, \"addr\": \"15.185.175.43\"}]}, \"tenant_id\": \"123456fake7890\", \"image\": {\"id\": \"47940\", \"links\": [{\"href\": \"https://az-2.region-a.geo-1.compute.hpcloudsvc.com/123456fake7890/images/47940\", \"rel\": \"bookmark\"}]}, \"created\": \"2012-12-11T11:35:45Z\", \"uuid\": \"936765b5-27bd-4d7d-a010-437e67611312\", \"accessIPv4\": \"\", \"accessIPv6\": \"\", \"key_name\": \"marios_default\", \"progress\": 100, \"flavor\": {\"id\": \"100\", \"links\": [{\"href\": \"https://az-2.region-a.geo-1.compute.hpcloudsvc.com/123456fake7890/flavors/100\", \"rel\": \"bookmark\"}]}, \"config_drive\": \"\", \"id\": 806837, \"security_groups\": [{\"name\": \"default\", \"links\": [{\"href\": \"https://az-2.region-a.geo-1.compute.hpcloudsvc.com/v1.1/123456fake7890/os-security-groups/1381\", \"rel\": \"bookmark\"}], \"id\": 1381}], \"metadata\": {}}}"
  recorded_at: Tue, 11 Dec 2012 11:42:01 GMT
- request: 
    method: get
    uri: https://az-2.region-a.geo-1.compute.hpcloudsvc.com/v1.1/123456fake7890/extensions
    body: 
      string: ""
    headers: 
      X-Storage-Token: 
      - EUAuth_01d7206e81832d1ac45183ab9531ba4f6cdc231590a31d5a326aa3cac417cdd1
      Content-Type: 
      - application/json
      X-Auth-Token: 
      - EUAuth_01d7206e81832d1ac45183ab9531ba4f6cdc231590a31d5a326aa3cac417cdd1
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      string: "{\"extensions\": [{\"updated\": \"2011-03-25T00:00:00+00:00\", \"name\": \"Volumes\", \"links\": [], \"namespace\": \"http://docs.openstack.org/ext/volumes/api/v1.1\", \"alias\": \"os-volumes\", \"description\": \"Volumes support\"}, {\"updated\": \"2012-10-11T00:00:00+00:00\", \"name\": \"HP Bootable Volumes\", \"links\": [], \"namespace\": \"http://docs.openstack.org/ext/hp-bootable-volumes/api/v1.1\", \"alias\": \"hp-bootable-volumes\", \"description\": \"hp bootable volumes support\"}, {\"updated\": \"2012-09-04T00:00:00+00:00\", \"name\": \"hp volume backup\", \"links\": [], \"namespace\": \"http://docs.openstack.org/ext/hp-volume-backups/api/v1.1\", \"alias\": \"hp-volume-backups\", \"description[...]
- request: 
    method: get
    uri: https://az-2.region-a.geo-1.compute.hpcloudsvc.com/v1.1/123456fake7890/servers/806837/os-volume_attachments
    body: 
      string: ""
    headers: 
      X-Storage-Token: 
      - EUAuth_01d7206e81832d1ac45183ab9531ba4f6cdc231590a31d5a326aa3cac417cdd1
      Content-Type: 
      - application/json
      X-Auth-Token: 
      - EUAuth_01d7206e81832d1ac45183ab9531ba4f6cdc231590a31d5a326aa3cac417cdd1
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      string: "{\"volumeAttachments\": []}"
  recorded_at: Tue, 11 Dec 2012 11:42:04 GMT
[...]
- request: 
    method: get
    uri: https://az-2.region-a.geo-1.compute.hpcloudsvc.com/v1.1/123456fake7890/servers/unknown
    body: 
      string: ""
    headers: 
      X-Storage-Token: 
      - EUAuth_01d7206e81832d1ac45183ab9531ba4f6cdc231590a31d5a326aa3cac417cdd1
      Content-Type: 
      - application/json
      X-Auth-Token: 
      - EUAuth_01d7206e81832d1ac45183ab9531ba4f6cdc231590a31d5a326aa3cac417cdd1
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
      Nncoection: 
      - close
    body: 
      string: "{\"itemNotFound\": {\"message\": \"The resource could not be found.\", \"code\": 404}}"
  recorded_at: Tue, 11 Dec 2012 11:42:08 GMT
