--- 
recorded_with: VCR 2.3.0
http_interactions: 
- request: 
    method: post
    uri: https://region-a.geo-1.identity.hpcloudsvc.com:35357/v2.0/tokens
    body: 
      string: "{\"auth\":{\"passwordCredentials\":{\"username\":\"unknown\",\"password\":\"wrong\"},\"tenantName\":\"wrong\"}}"
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 401
      message: Unauthorized
    headers: 
      Content-Type: 
      - application/json
      Cneonction: 
      - close
    body: 
      string: |-
        {
          "unauthorized" : {
            "code" : 401,
            "details" : "Invalid credentials",
            "message" : "UNAUTHORIZED",
            "otherAttributes" : {
            }
          }
        }
  recorded_at: Tue, 11 Dec 2012 11:40:54 GMT
