---
http_interactions:
- request:
    method: post
    uri: https://region-a.geo-1.identity.hpcloudsvc.com:35357/v2.0/tokens
    body:
      encoding: UTF-8
      string: ! '{"auth":{"passwordCredentials":{"username":"foo@fakedomain.eu","password":"1234fake56789"},"tenantName":"foo@fakedomain.eu-default-tenant"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\"access\": {\n  \"token\": {\n    \"expires\": \"2013-02-13T22:22:46.922Z\",\n
        \   \"id\": \"EUAuth_01d7206e81832d1ac45183ab9531ba4f6cdc231590a31d5a326aa3cac417cdd1\",\n
        \   \"tenant\": {\n      \"id\": \"123456fake7890\",\n      \"name\": \"foo@fakedomain.eu-default-tenant\"\n
        \   }\n  },\n  \"user\": {\n    \"id\": \"98765fake43210\",\n    \"name\":
        \"foo@fakedomain.eu\",\n    \"roles\": [\n      {\n        \"id\": \"00000000004013\",\n
        \       \"serviceId\": \"130\",\n        \"name\": \"block-admin\",\n        \"tenantId\":
        \"123456fake7890\"\n      },\n      {\n        \"id\": \"00000000004025\",\n
        \       \"serviceId\": \"120\",\n        \"name\": \"sysadmin\",\n        \"tenantId\":
        \"123456fake7890\"\n      },\n      {\n        \"id\": \"00000000004024\",\n
        \       \"serviceId\": \"140\",\n        \"name\": \"user\",\n        \"tenantId\":
        \"123456fake7890\"\n      },\n      {\n        \"id\": \"00000000004022\",\n
        \       \"serviceId\": \"110\",\n        \"name\[...]
[...]
