---
http_interactions:
- request:
    method: post
    uri: https://region-a.geo-1.identity.hpcloudsvc.com:35357/v2.0/tokens
    body:
      encoding: UTF-8
      string: ! '{"auth":{"passwordCredentials":{"username":"unknown","password":"wrong"},"tenantName":"wrong"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"unauthorized\" : {\n    \"code\" : 401,\n    \"details\" :
        \"Invalid credentials\",\n    \"message\" : \"UNAUTHORIZED\",\n    \"otherAttributes\"
        : {\n    }\n  }\n}"
  recorded_at: Wed, 13 Feb 2013 10:22:54 GMT
recorded_with: VCR 2.4.0
