* {
	padding:0;
	margin:0;
}

html {
	min-width: 990px;
}

body {
	margin: 0;
	padding: 0;
	color: #000;
	background: #FFF;
	font-family: "Helvetica Neue", "Liberation Sans", Arial, sans-serif;
	font-size: 81.25%;
}

ol,ul,dl,p {
	padding: 0;
	margin: 0 0 1em 0;
	line-height: 1.6em;
}

ol,ul {
 	margin-left: 2em;
}


h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	margin-bottom: 0.5em;
	padding: 0;
	margin-top: 0;
}

h1 {
	font-size: 1.8em;
}
h2 {
	font-size: 1.4em;
}
h3 {
	font-size: 1.2em;
	font-weight: bold;
}
h4 {
	font-size: 1em;
	font-weight: bold;
}
h5 {
	font-size: 0.9em;
	font-weight: bold;
	font-style: italic;
}
h6 {
	font-size: 0.8em;
	font-style: italic;
}
img {
	border: 0;
}