- @title=collection_name @creds

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li.active
      CredentialCollection

- content_for :actions do
  %p
    %a{ :href => "#{@creds.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@creds.id}?format=json", :class => 'label warning' } JSON
  %p
    %a{ :href => '#credModal', :class => 'btn btn-primary', :'data-toggle' => :modal } New Credential

  %div{ :id => :credModal, :class => 'modal hide fade' }
    .modal-header
      %h3 Create mew Credential entity
    .modal-body
      %form{ :action => "/cimi/credential", :method => :post }
        %fieldset
          .control-group
            %label.control-label{ :for => 'credential[name]' } Key Name
            .controls
              %input{ :type => :text, :name => 'credential[name]' }
            %label.control-label{ :for => 'credential[description]' } Key Description
            .controls
              %input{ :type => :text, :name => 'credential[description]' }
            %label.control-label{ :for => 'credential[key]' } PEM data
            .controls
              %textarea{:name => 'credential[key]', :class => 'input-xlarge', :rows => 3}
    .modal-footer
      %a{ :href => '#', :class => 'btn btn-primary', :'data-loading-text' => 'Creating Credential...', :onclick => "postModalForm(this, 'credModal')"} Continue
      %a{ :href => '#', :class => 'btn', :'data-dismiss' => 'modal'} Cancel

%blockquote
  %p
    A Credential Collection entity represents the collection of Credential
    entities within a Provider. This entity can be used to locate and create
    Credentials.

%h3 CredentialCollection

%ul
  - @creds.credentials.each do |conf|
    %li
      %a{ :href => "/cimi/credentials/#{conf.id.split('/').last}"}=conf.id.split('/').last

- details 'Collection details' do
  - row 'ID', @creds.id
  - row 'Count', @creds.count
