%h1
  Available Drivers

%table.display
  %thead
    %tr
      %th ID
      %th Name
  %tbody
    - settings.drivers.each do |id, details|
      %tr
        %td{ :width => '20%' }
          %tt= id
        %td= details[:name]
