- unless defined?(partial)
  !!! XML
%Machine{ :xmlns => CMWG_NAMESPACE }
  %uri=machines_url + "/" + @dmtfitem["uri"]
  %name=@dmtfitem["name"]
  %description=@dmtfitem["description"]
  %created=@dmtfitem["created"]
  - if @dmtfitem["property"]
    - if @dmtfitem["property"]["name"] && @dmtfitem["property"]["content"]
      - property_object = {"#{@dmtfitem['property']['name']}" => {"content" => @dmtfitem["property"]["content"]}}
    - else
      - property_object = @dmtfitem["property"]
    - property_object.each_pair do |key, value|
      %property{ :name => key}=value["content"]
  %status=@dmtfitem["status"]
  %cpu=@dmtfitem["cpu"]
  %memory{ :quantity => @dmtfitem["memory"]["quantity"], :units => @dmtfitem["memory"]["units"] }
  - if @dmtfitem["disk"]
    - if @dmtfitem["disk"].kind_of?(Array)
      - property_object = @dmtfitem["disk"]
    - else
      - property_object = [@dmtfitem["disk"]]
    - property_object.each do |disk|
      %disk
        %capacity{ :quantity => disk["capacity"]["quantity"], :units => disk["capacity"]["units"] }
        %guestInterface= disk["guestInterface"]
  %operation{ :rel => "edit", :href => machines_url + "/" + @dmtfitem["uri"] }
  %operation{ :rel => "delete", :href => machines_url + "/" + @dmtfitem["uri"] }
