<h1><%= @account[:id] %></h1>

<h2>Instances</h2>

<table>
  <tr>
    <th>
      Instance ID
    </th>
  </tr>
  <% for instance_id in @account[:instance_ids] %>
    <tr>
      <td>
        <%= link_to instance_id, instance_url( instance_id ) %>
      </td>
    </tr>
  <% end %>
</table>

<h2>Images</h2>

<table>
  <tr>
    <th>
      Image ID
    </th>
    <th>
      Description
    </th>
  </tr>
  <% for image in @images %>
    <tr>
      <td>
        <%= link_to image[:id], image_url( image[:id] ) %>
      </td>
      <td>
        <%= image[:description] %>
      </td>
    </tr>
  <% end %>
</table>
