=header "Storage Snapshots"

%div{ :'data-role' => :content, :'data-theme' => 'c'}
  %ul{ :'data-role' => :listview , :'data-inset' => :true, :'data-divider-theme' => 'a'}
    %li{ :'data-role' => 'list-divider'}=driver_symbol
    - @storage_snapshots.each do |snapshot|
      %li
        %a{ :href => storage_snapshot_url(snapshot.id), :'data-ajax' => 'false'}
          %img{ :class => 'ui-link-thumb', :src => '/images/snapshot.png'}
          %h3= snapshot.id
          %p=[snapshot.storage_volume_id, snapshot.created].join(', ')
          %span{ :class => 'ui-li-count'}=snapshot.state

