%h1 Create new storage volume snapshot

%form{ :action => storage_snapshots_url, :method => :post }
  %p
    %label
      Volume ID:
    %input{ :name => 'volume_id', :size => 30, :value => params[:volume_id] }
  %p
    %input{ :type => :submit, :name => "commit", :value => "Create" }/
