- unless defined?(partial)
  !!! XML
%storage_snapshot{:href => storage_snapshot_url(@storage_snapshot.id), :id => @storage_snapshot.id }
  %name=@storage_snapshot.id
  %created<
    =@storage_snapshot.created
  %storage_volume{:href => storage_volume_url(@storage_snapshot.storage_volume_id), :id => @storage_snapshot.storage_volume_id}
