- @title=collection_name @networks

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li.active
      NetworkCollection

- content_for :actions do
  %p
    %a{ :href => "#{@networks.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@networks.id}?format=json", :class => 'label warning' } JSON

%ul
  - @networks.networks.each do |network|
    %li
      %a{ :href => "/cimi/networks/#{href_to_id(network.id)}"}=href_to_id(network.id)

-details do
  -row 'ID', @networks.id
  -row 'Count', @networks.count
