- @title=@networks.description

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li.active
      NetworkCollection

- content_for :actions do
  %p
    %a{ :href => "#{@networks.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@networks.id}?format=json", :class => 'label warning' } JSON

%blockquote
  %p
    A Network Collection entity represents the collection of Networks
    within a Provider. This entity can be used to locate and create Networks.

%h3 NetworkCollection
%ul
  - @networks.networks.each do |network|
    %li
      %a{ :href => "/cimi/networks/#{network.href.split('/').last}"}=network.href.split('/').last

-details 'NetworkCollection details' do
  -row 'ID', @networks.id
  -row 'Description', @networks.description
  -row 'Created', @networks.created
