---
filter:
  - haml
  - outline
---
- page = render(:partial => "markdown", :locals => {:path => path} )
- doc = Hpricot(page)
- header = (doc/"h1").remove
= header.first
/- title, rest = page.split("</h1>")

/= title + '</h1>'
<toc class="toc" numbering="off" toc_style="ul" toc_range="h2-h3" />

/= rest
= doc.to_html
