---
filter: haml
---
- menu = [ { :href => "index.html", :title => "Deltacloud Home", :text => "Home" }, |
  { :href => "download.html", :title => "Get the latest releases", :text => "Download" }, |
  { :href => "developers.html", :title => "Information for developers", :text => "Developers" }, |
  { :href => "documentation.html", :title => "Project documentation", :text => "Documentation" }, |
  { :href => "contact.html", :title => "Contact us!", :text => "Contact"} ] |

#navigation
  #menu.container
    %ul.l0
      - menu.each do |link|
        %li
          - current_page = "#{area}.html" unless area.nil? or area.empty? or (link[:href].index(area) != 0)
          - state = (link[:href] == current_page) ? 'active' : 'inactive'
          %a{ :class => state, :href => "./#{link[:href]}", :title => link[:title] }<
            = link[:text]
