---
title: Deltacloud | Many Clouds. One API. No Problem.
extension: html
filter: haml
---
#frontpage
  %p.intro
    Start an instance on an internal cloud, then with the same code start another on EC2 or
    Rackspace. Deltacloud protects your apps from cloud API changes and
    incompatibilities, so you can concentrate on managing cloud instances
    the way you want.
  .colleft
    %p
      %em
        Deltacloud
      gives you:
    %ul
      %li
        A
        %a{ :href => "api.html" }
          RESTful API
        for simple, any-platform access
      %li
        Support for all
        %a.providers{ :href => "#providers", :title => "Supported providers" }          major cloud service providers
      %li
        Backward compatibility across versions, providing long-term stability for scripts, tools and applications
      %li
        A separate
        %a{ :href => "http://dmtf.org/standards/cloud" }
          CIMI
        frontend, as well as CIMI API compliance tests and a simple CIMI
        client application.
  .right
    %img{ :src => "styles/diagram-soa.png", :height => "265", :alt => "diagram-soa", :width => "620", :style => "margin-bottom:1em;" }
  %p.foot
    %em Deltacloud
    makes it easy for cloud providers to
    %a{ :href => "developers.html" }
      add their cloud
    to the Deltacloud API.
#news
  .recent
    %h2
      News
      .tweet
%br
%br
#popups{ :style => "display:none;" }
  #providers
    = render(:partial => "providers")
