- @title=@machine_admins.name

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li.active
      MachineAdminCollection

- content_for :actions do
  %p
    %a{ :href => "#{@machine_admins.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@machine_admins.id}?format=json", :class => 'label warning' } JSON
  %p
    %a{ :href => '#adminModal', :class => 'btn btn-primary', :'data-toggle' => :modal } New Machine Admin

  %div{ :id => :adminModal, :class => 'modal hide fade' }
    .modal-header
      %h3 Create mew MachineAdmin entity
    .modal-body
      %form{ :action => "/cimi/machine_admin", :method => :post }
        %fieldset
          .control-group
            %label.control-label{ :for => 'machine_admin[name]' } Key Name
            .controls
              %input{ :type => :text, :name => 'machine_admin[name]' }
            %label.control-label{ :for => 'machine_admin[description]' } Key Description
            .controls
              %input{ :type => :text, :name => 'machine_admin[description]' }
            %label.control-label{ :for => 'machine_admin[key]' } PEM data
            .controls
              %textarea{:name => 'machine_admin[key]', :class => 'input-xlarge', :rows => 3}
    .modal-footer
      %a{ :href => '#', :class => 'btn btn-primary', :'data-loading-text' => 'Creating MachineAdmin...', :onclick => "postModalForm(this, 'adminModal')"} Continue
      %a{ :href => '#', :class => 'btn', :'data-dismiss' => 'modal'} Cancel

%blockquote
  %p
    A Machine Admin Collection entity represents the collection of Machine Admin
    entities within a Provider. This entity can be used to locate and create
    MachineAdmins.

%h3 MachineAdminCollection

%ul
  - @machine_admins.machine_admins.each do |conf|
    %li
      %a{ :href => "/cimi/machine_admins/#{conf.href.split('/').last}"}=conf.href.split('/').last

- details 'Collection details' do
  - row 'ID', @machine_admins.id
  - row 'Description', @machine_admins.description
  - row 'Created', @machine_admins.created
