- @title="New MachineAdmin"

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li
      %a{ :href => "/cimi/machine_admins"} MachineAdminCollection
      %span.divider="/"
    %li.active New MachineAdmin


%form{ :action => "/cimi/machine_admin", :method => :post }
  %fieldset
    %legend Create new MachineAdmin
    %div.clearfix
      %label{ :for => 'machine_admin[name]' }
        Name
      %div.input
        %input{ :type => :text, :name => 'machine_admin[name]' }
    %div.clearfix
      %label{ :for => 'machine_admin[description]' }
        Description
      %div.input
        %input{ :type => :text, :name => 'machine_admin[description]' }
    %div.clearfix
      %label{ :for => 'machine_admin[username]' }
        Username
      %div.input
        %input{ :type => :text, :name => 'machine_admin[username]', :value => "root" }
        %span.help-block
          %span.label.info NOTE
          Property could not be supported by cloud provider
    %div.clearfix
      %label{ :for => 'machine_admin[password]' }
        Password
      %div.input
        %input{ :type => :text, :name => 'machine_admin[password]' }
        %span.help-block
          %span.label.info NOTE
          Property could not be supported by cloud provider
    %div.clearfix
      %label{ :for => 'machine_admin[key]' }
        Key
      %div.input
        %textarea.xlarge{ :name => 'machine_admin[key]', :rows => 3 }
        %span.help-block
          %span.label.info NOTE
          Property could not be supported by cloud provider
    %div.actions
      %input{ :type => :submit, :class => 'btn primary', :value => "Create MachineAdmin" }
      %button{ :type => :reset, :class => 'btn' } Reset

