- @title=@rg_templates.description

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li.active
      RoutingGroupTemplateCollection
- content_for :actions do
  %p
    %a{ :href => "#{@rg_templates.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@rg_templates.id}?format=json", :class => 'label warning' } JSON

%blockquote
  %p
    A Routing Group Template Collection entity represents the collection of Routing
    Group Template entities within a Provider. This entity can be used to locate and
    create Routing Group Templates.

%h3 RoutingGroupTemplateCollection
%ul
  - @rg_templates.routing_group_templates.each do |rg_template|
    %li
      %a{ :href => "/cimi/routing_group_templates/#{rg_template.href.split('/').last}"}=rg_template.href.split('/').last

-details 'RoutingGroupTemplateCollection details' do
  -row 'ID', @rg_templates.id
  -row 'Description', @rg_templates.description
  -row 'Created', @rg_templates.created
