- @title="#{@rg_template.name}"

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li
      %a{ :href => "/cimi/routing_group_templates"} RoutingGroupTemplateCollection
      %span.divider="/"
    %li.active
      =@rg_template.name

- content_for :actions do
  %p
    %a{ :href => "#{@rg_template.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@rg_template.id}?format=json", :class => 'label warning' } JSON

%blockquote
  %p
    A RoutingGroupTemplate entity captures the configuration values for realizing a RoutingGroup.
    A Routing Group Template may be used to create multiple RoutingGroup

-details 'RoutingGroupTemplate details' do
  -row 'ID', @rg_template.id
  -row 'Description', @rg_template.description
  -row 'Created', @rg_template.created

-details 'RoutingGroupTemplate networks' do
  -@rg_template.networks.each do |net|
    -row 'ID', net.href
