- @title="#{@vsp_template.name}"

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li
      %a{ :href => "/cimi/vsp_templates"} VSPTemplateCollection
      %span.divider="/"
    %li.active
      = @vsp_template.name

- content_for :actions do
  %p
    %a{ :href => "#{@vsp_template.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@vsp_template.id}?format=json", :class => 'label warning' } JSON

%blockquote
  %p
    The VSP Template is a set of Configuration values for realizing a VSP.
    A VSP Template may be used to create multiple VSPs

-details 'VSPTemplate details' do
  -row 'ID', @vsp_template.id
  -row 'Description', @vsp_template.description
  -row 'Created', @vsp_template.created
  -row 'Network', @vsp_template.network.href
  -row 'VSP Config', @vsp_template.vsp_config.href
