- @title=@machine_images.name

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li.active
      MachineImageCollection

- content_for :actions do
  %p
    %a{ :href => "#{@machine_images.uri}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@machine_images.uri}?format=json", :class => 'label warning' } JSON

%blockquote
  %p 
    A Machine Image Collection entity represents the collection of Machine Image
    entities within a Provider. This entity can be used to locate and create
    Machine Images.

%h3 MachineImageCollection
%ul
  - @machine_images.machine_images.each do |image|
    %li
      %a{ :href => "/cimi/machine_images/#{image.href.split('/').last}"}=image.href.split('/').last

- details('Collection details') do
  - row 'URI', @machine_images.uri
  - row 'Description', @machine_images.description
  - row 'Created', @machine_images.created
