- @title="#{@machine_image.name}"

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li
      %a{ :href => "/cimi/machine_images"} MachineImageCollection
      %span.divider="/"
    %li.active
      = @machine_image.name

- content_for :actions do
  %p
    %a{ :href => "#{@machine_image.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@machine_image.id}?format=json", :class => 'label warning' } JSON

- details do
  - row 'ID', @machine_image.id
  - row 'Name', @machine_image.name
  - row 'Description', @machine_image.description
  - row 'State', @machine_image.state
  - row 'Created', @machine_image.created
  - row 'Image Location', @machine_image.image_location.href
  - row 'Image Data', @machine_image.image_data
