- @title="#{@machine_image.name}"

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li
      %a{ :href => "/cimi/machine_images"} MachineImageCollection
      %span.divider="/"
    %li.active
      = @machine_image.name

- content_for :actions do
  %p
    %a{ :href => "#{@machine_image.uri}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@machine_image.uri}?format=json", :class => 'label warning' } JSON

%blockquote
  %p
    This entity represents the information (e.g. an Open Virtualization Format
    (OVF) package) necessary for hardware virtualized resources to create a
    Machine Instance

- details 'MachineImage details' do
  - row 'URI', @machine_image.uri
  - row 'Description', @machine_image.description
  - row 'Created', @machine_image.created
  - row 'Image Location', @machine_image.image_location.href
  - row 'Image Data', @machine_image.image_data
