%h1
  = @account[:id]

%h2 Instances

%table
  %thead
    %tr
      %th Instance ID
  %tbody
    - @account[:instance_ids].each do |instance_id|
      %tr
        %td
          = link_to instance_id, instance_url( instance_id )

%h2 Images

%table
  %thead
    %tr
      %th Image ID
      %th Description
  %tbody
    %tbody
      - @images.each do |image|
        %tr
          %td
            = link_to image[:id], image_url( image[:id] )
          %td
            = image[:description]
