!!! XML
%blob{:href => bucket_url(@blob.bucket) + '/' + @blob.id, :id => @blob.id}
  - @blob.attributes.select{ |attr| (attr!=:id && attr!=:user_metadata) }.each do |attribute|
    - unless attribute == :content
      - haml_tag(attribute, :<) do
        - haml_concat @blob.send(attribute)
  %user_metadata
    - @blob.user_metadata.each do |k, v|
      %entry{:key => k}
        #{cdata v}
  %content{:href => bucket_url(@blob.bucket) + '/' + @blob.id + '/content'}
