=header "Buckets" do
  %a{ :href => url_for('buckets/new'), :'data-icon' => :plus, :'data-role' => :button, :class => 'ui-btn-right'} Create new bucket

%div{ :'data-role' => :content, :'data-theme' => 'c'}
  %ul{ :'data-role' => :listview , :'data-inset' => :true, :'data-divider-theme' => 'a'}
    - @buckets.each do |bucket|
      %li
        %a{ :href => bucket_url(bucket.id), :'data-ajax' => 'false'}
          %img{ :class => 'ui-link-thumb', :src => '/images/bucket.png'}
          %h3=bucket.name
          %p=bucket.id
