%h1
  Buckets
%br
%p
  =link_to 'Create new bucket', "/api/buckets/new"

%table.display
  %thead
    %tr
      %th
        ID
      %th
        Name
      %th
        Size
      %th
        Blob List
      %th

  %tbody
    - @buckets.each do |bucket|
      %tr
        %td
          = link_to bucket.id, bucket_url(bucket.id)
        %td
          = bucket.name
        %td
          = bucket.size
        %td
          -bucket.blob_list.each do |blob|
            = blob
        %td
          -if bucket.size == 0
            =link_to_action 'Delete', destroy_bucket_url(bucket.name), :delete
