=header "New bucket"

%div{ :'data-role' => :content, :'data-theme' => 'c', :class => 'middle-dialog'}
  %form{ :action => buckets_url, :method => :post, :'data-ajax' => 'false' }
    %label
      Bucket Name:
      %input{ :name => 'name', :size => 250}/
      %br
    -if driver.class.has_feature?(:buckets, :bucket_location)
      %p
        %label
          Location: (optional)
          %input{ :name => 'location', :size => 20 }/
    %input{ :type => :submit, :name => "commit", :value => "create"}/
