%h1 Bucket
%h2
  = @bucket.id

%dl
  %di
    %dt Name
    %dd
      = @bucket.name
    %dt Size
    %dd
      = @bucket.size
    %dt Blobs
    %dd
      -@bucket.blob_list.each do |blob|
        = link_to blob, bucket_url(@bucket.name) + '/' + blob
    %dt Create a new blob
    %dd
      =link_to 'Create Blob', bucket_url(@bucket.name) + '/new_blob'
    %dt Delete bucket (must be empty)
    %dd
      -if @bucket.size == 0
        =link_to_action 'Delete', destroy_bucket_url(@bucket.name), :delete
