=header "Instances"
=subheader "#{Thread::current[:provider] || ENV['API_PROVIDER'] || 'default'}"

%div{ :'data-role' => :content, :'data-theme' => 'c'}
  %ul{ :'data-role' => :listview , :'data-inset' => :true, :'data-divider-theme' => 'a'}
    %li{ :'data-role' => 'list-divider'}=driver_symbol
    - @elements.each do |instance|
      %li
        %a{ :href => instance_url(instance.id), :'data-ajax' => 'false'}
          %img{ :class => 'ui-link-thumb', :src => '/images/machine.png'}
          %h3=instance.id.to_s.truncate
          %p
            %strong=instance.name
          %p=[instance.owner_id, instance.image_id, instance.hardware_profile].join(', ')
          %span{ :class => 'ui-li-count'}=instance.state
