=header "Subnets" do
  - if driver.respond_to?(:create_subnet)
    %a{ :href => url_for('subnets/new'), :'data-icon' => :plus, :'data-role' => :button, :class => 'ui-btn-right'} Create new subnet

%div{ :'data-role' => :content, :'data-theme' => 'c'}
  %ul{ :'data-role' => :listview , :'data-inset' => :true, :'data-divider-theme' => 'a'}
    - @elements.each do |subnet|
      %li
        %a{ :href => subnet_url(subnet.id), :'data-ajax' => 'false'}
          %img{ :class => 'ui-link-thumb', :src => '/images/cloud.png'}
          %h3=subnet.id
