%h1
  Available Drivers

%table.display
  %thead
    %tr
      %th ID
      %th Name
  %tbody
    - @drivers.each do |id, details|
      %tr
        %td{ :width => '20%' }
          %tt
            %a{ :href => driver_url(id) }= id
        %td= details[:name]
