=header "Realms"
=subheader "#{Thread::current[:provider] || ENV['API_PROVIDER'] || 'default'}"

%div{ :'data-role' => :content, :'data-theme' => 'c'}
  %ul{ :'data-role' => :listview , :'data-inset' => :true, :'data-divider-theme' => 'a'}
    %li{ :'data-role' => 'list-divider'}=driver_symbol
    - @realms.each do |realm|
      %li
        %a{ :href => realm_url(realm.id), :'data-ajax' => 'false'}
          %img{ :class => 'ui-link-thumb', :src => '/images/realm.png'}
          %h3= realm.name
          %p=[realm.id, realm.limit].join(', ')
          %span{ :class => 'ui-li-count'}=realm.state
