- unless defined?(partial)
  !!! XML
%realm{:href => realm_url(@realm.id), :id => @realm.id }
  %name<
    =@realm.name
  %state<
    =@realm.state
  - unless @realm.limit.eql?(:unlimited)
    %limit<
      =cdata do
        =@realm.limit
  - @realm.resource_types.each do |r|
    %resource_type<
      =r
