- @title=@network_configs.description

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li.active
      NetworkConfigurationCollection
- content_for :actions do
  %p
    %a{ :href => "#{@network_configs.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@network_configs.id}?format=json", :class => 'label warning' } JSON

%blockquote
  %p
    A Network Configuration Collection entity represents the collection
    of Network Configurations within a Provider. This entity can be used
    to locate and create Network Configurations

%ul
  - @network_configs.network_configurations.each do |conf|
    %li
      %a{ :href => "/cimi/network_configurations/#{conf.href.split('/').last}"}=conf.href.split('/').last

%h3 Collection details

%dl
  %dt id
  %dd=@network_configs.id
  %dt Description
  %dd=@network_configs.description
  %dt Created
  %dd=@network_configs.created
