- @title=collection_name @network_configs

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li.active
      NetworkConfigurationCollection

- content_for :actions do
  %p
    %a{ :href => "#{@network_configs.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@network_configs.id}?format=json", :class => 'label warning' } JSON

%ul
  - @network_configs.network_configurations.each do |conf|
    %li
      %a{ :href => "/cimi/network_configurations/#{href_to_id(conf.id)}"}=href_to_id(conf.id)

-details 'NetworkConfigurationCollection details' do
  -row 'ID', @network_configs.id
  -row 'Count', @network_configs.count
