--- 
http_interactions: 
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=DescribeKeyPairs&KeyName.1=test_key_1338461880&Signature=HF1Upxum/EmqFvOirq50gMMSlEvXy/qDXxtAvvw5fTQ=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-05-31T10:58:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>bfd50b65-067a-477d-9eba-0f040ff0f54c</requestId>
            <keySet>
                <item>
                    <keyName>test_key_1338461880</keyName>
                    <keyFingerprint>c2:b6:cb:ed:a8:66:38:76:35:70:b6:6f:df:a6:ac:8d:d4:65:41:30</keyFingerprint>
                </item>
            </keySet>
        </DescribeKeyPairsResponse>
  recorded_at: Thu, 31 May 2012 10:58:00 GMT
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=DeleteKeyPair&KeyName=test_key_1338461880&Signature=7YuCiytXwZ4F55hQNv8O7RAqyR22OB3pExIwHfZEBnI=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-05-31T10:58:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DeleteKeyPairResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>4233b2b6-65f2-48ad-8d40-867ab678080d</requestId>
            <return>true</return>
        </DeleteKeyPairResponse>
  recorded_at: Thu, 31 May 2012 10:58:00 GMT
recorded_with: VCR 2.1.1
