--- 
http_interactions: 
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=DescribeInstances&InstanceId.1=i-37213951&Signature=2dMaL87jke4yFOFkHWvYfTmriOEZuy890ts2XHNDMm8=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-05-31T10:58:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>98022670-4a7e-4f70-9556-58b3bf746f4e</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-73242111</reservationId>
                    <ownerId>293787749884</ownerId>
                    <groupSet>
                        <item>
                            <groupId>default</groupId>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-37213951</instanceId>
                            <imageId>ami-e565ba8c</imageId>
                            <instanceState>
                                <code>32</code>
                                <name>shutting-down</name>
                            </instanceState>
                            <privateDnsName>ip-10-122-51-201.ec2.internal</privateDnsName>
                            <dnsName>ec2-23-21-28-150.compute-1.amazonaws.com</dnsName>
                            <reason>User initiated (2012-05-31 09:19:10 GMT)</reason>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>m1.small</instanceType>
                            <launchTime>2012-05-31T09:18:44.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1c</availabilityZone>
                                <groupName/>
                            </placement>
                            <kernelId>aki-88aa75e1</kernelId>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <privateIpAddress>10.122.51.201</privateIpAddress>
                            <ipAddress>23.21.28.150</ipAddress>
                            <stateReason>
                                <code>Client.UserInitiatedShutdown</code>
                                <message>Client.UserInitiatedShutdown: User initiated shutdown</message>
                            </stateReason>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-f1c01b9f</volumeId>
                                        <status>attached</status>
                                        <attachTime>2012-05-31T09:19:00.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>paravirtual</virtualizationType>
                            <clientToken/>
                        </item>
                    </instancesSet>
                </item>
            </reservationSet>
        </DescribeInstancesResponse>
  recorded_at: Thu, 31 May 2012 10:58:00 GMT
recorded_with: VCR 2.1.1
