---
http_interactions:
- request:
    method: get
    uri: https://api.globalcloud.fujitsu.com.au/ovissapi/endpoint?AccessKeyId=QVVTIEVhc3Rlcm4gU3RhbmRhcmQgVGltZSYxMzY5MzcyMTI1MDAwJjEuMCZT%0ASEExd2l0aFJTQQ==%0A&Action=ListVSYS&Locale=en&Signature=OkvbtX30mil/ejoylfd6TDTKDz2duiLv/J8DHqFBqrxWmcI9n2x9m0fPwpT4%0AeG9i27Ef32VTUiPaGrwhpfwtCsN6MbqvkL9wifL1uN/RdyajNJHNEbD3K3ez%0Ak3xqJx2D2FkAcFsJtFx6VrugiqCl%2BWpk0p7duBVEnINDHsdpSIJhq96rx3yI%0A9SNg7Nei7U1WWr%2BnuY8HBz/zxIhqiFUVuQN7OovBW6e1xnGmgi0%2BNb%2BzfHjU%0Ar2qpf%2B7y6NHABVbisduNKoc2YDKnp748qs9WeL6daneoHdomM5coGiw1lDTd%0AXUmDdExxIwhVS2VSF/GnFITYI0wq2R44CwI1Xgy/Ew==%0A&Version=2011-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<ListVSYSResponse xmlns=\"http://apioviss.jp.fujitsu.com\">\r\n
        \ <responseMessage>Processing was completed.</responseMessage>\r\n  <responseStatus>SUCCESS</responseStatus>\r\n
        \ <vsyss>\r\n    <vsys>\r\n      <baseDescriptor>2-tier Skeleton</baseDescriptor>\r\n
        \     <creator>UZXC0GRT</creator>\r\n      <description>2-tier Skeleton</description>\r\n
        \     <vsysId>UZXC0GRT-ZG8ZJCJ07</vsysId>\r\n      <vsysName>Dies-DC-test</vsysName>\r\n
        \   </vsys>\r\n  </vsyss>\r\n</ListVSYSResponse>\r\n\r\n"
  recorded_at: Fri, 24 May 2013 05:08:45 GMT
- request:
    method: get
    uri: https://api.globalcloud.fujitsu.com.au/ovissapi/endpoint?AccessKeyId=QVVTIEVhc3Rlcm4gU3RhbmRhcmQgVGltZSYxMzY5MzcyMTI1MDAwJjEuMCZT%0ASEExd2l0aFJTQQ==%0A&Action=GetVSYSConfiguration&Locale=en&Signature=OkvbtX30mil/ejoylfd6TDTKDz2duiLv/J8DHqFBqrxWmcI9n2x9m0fPwpT4%0AeG9i27Ef32VTUiPaGrwhpfwtCsN6MbqvkL9wifL1uN/RdyajNJHNEbD3K3ez%0Ak3xqJx2D2FkAcFsJtFx6VrugiqCl%2BWpk0p7duBVEnINDHsdpSIJhq96rx3yI%0A9SNg7Nei7U1WWr%2BnuY8HBz/zxIhqiFUVuQN7OovBW6e1xnGmgi0%2BNb%2BzfHjU%0Ar2qpf%2B7y6NHABVbisduNKoc2YDKnp748qs9WeL6daneoHdomM5coGiw1lDTd%0AXUmDdExxIwhVS2VSF/GnFITYI0wq2R44CwI1Xgy/Ew==%0A&Version=2011-01-31&vsysId=UZXC0GRT-ZG8ZJCJ07
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<GetVSYSConfigurationResponse
        xmlns=\"http://apioviss.jp.fujitsu.com\">\r\n  <responseMessage>Processing
        was completed.</responseMessage>\r\n  <responseStatus>SUCCESS</responseStatus>\r\n
        \ <vsys>\r\n    <baseDescriptor>2-tier Skeleton</baseDescriptor>\r\n    <cloudCategory>PUBLIC</cloudCategory>\r\n
        \   <creator>UZXC0GRT</creator>\r\n    <description>2-tier Skeleton</description>\r\n
        \   <publicips>\r\n      <publicip>\r\n        <address>137.172.209.220</address>\r\n
        \       <v4v6Flag>IPv4</v4v6Flag>\r\n      </publicip>\r\n    </publicips>\r\n
        \   <vnets>\r\n      <vnet>\r\n        <networkId>UZXC0GRT-ZG8ZJCJ07-N-DMZ</networkId>\r\n
        \     </vnet>\r\n      <vnet>\r\n        <networkId>UZXC0GRT-ZG8ZJCJ07-N-SECURE1</networkId>\r\n
        \     </vnet>\r\n    </vnets>\r\n    <vservers>\r\n      <vserver>\r\n        <creator>UZXC0GRT</creator>\r\n
        \       <diskimageId>FW_EX2000AIN20130125</diskimageId>\r\n        <vdisks
        />\r\n        <vnics>\r\n          <vnic>\r\n            <networkId>UZXC0GRT-ZG8ZJCJ07-N-DMZ</networkId>\r\n
        \           <nicNo>4</nicNo>\r\n            <privateIp>192.168.0.11</privateIp>\r\n
        \         </vnic>\r\n          <vnic>\r\n            <networkId>UZXC0GRT-ZG8ZJCJ07-N-SECURE1</networkId>\r\n
        \           <nicNo>5</nicNo>\r\n            <privateIp>192.168.1.11</privateIp>\r\n
        \         </vnic>\r\n        </vnics>\r\n        <vserverId>UZXC0GRT-ZG8ZJCJ07-S-0001</vserverId>\r\n
        \       <vserverName>Firewall</vserverName>\r\n        <vserverType>firewall</vserverType>\r\n
        \     </vserver>\r\n      <vserver>\r\n        <creator>UZXC0GRT</creator>\r\n
        \       <diskimageId>IMG_3c9820_S24FWXU0Q9VH0JK</diskimageId>\r\n        <vdisks
        />\r\n        <vnics>\r\n          <vnic>\r\n            <networkId>UZXC0GRT-ZG8ZJCJ07-N-DMZ</networkId>\r\n
        \           <nicNo>0</nicNo>\r\n            <privateIp>192.168.0.12</privateIp>\r\n
        \         </vnic>\r\n        </vnics>\r\n        <vserverId>UZXC0GRT-ZG8ZJCJ07-S-0547</vserverId>\r\n
        \       <vserverName>sdf</vserverName>\r\n        <vserverType>economy</vserverType>\r\n
        \     </vserver>\r\n    </vservers>\r\n    <vsysId>UZXC0GRT-ZG8ZJCJ07</vsysId>\r\n
        \   <vsysName>Dies-DC-test</vsysName>\r\n  </vsys>\r\n</GetVSYSConfigurationResponse>\r\n\r\n"
  recorded_at: Fri, 24 May 2013 05:08:46 GMT
recorded_with: VCR 2.5.0
