--- 
recorded_with: VCR 2.2.4
http_interactions: 
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJHMN5TTUKVLK5WCQ&Action=CreateVpc&CidrBlock=172.16.0.0/16&Signature=62kOuCAxVbNEYwqtW1kFLpUEVu4eJk91xpk3InvdGsY=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-08-28T23:23:35.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <CreateVpcResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>b4feaef5-9df4-4f49-8e61-83b95f78684a</requestId>
            <vpc>
                <vpcId>vpc-a276c0c9</vpcId>
                <state>pending</state>
                <cidrBlock>172.16.0.0/16</cidrBlock>
                <dhcpOptionsId>default</dhcpOptionsId>
            </vpc>
        </CreateVpcResponse>
  recorded_at: Tue, 28 Aug 2012 23:23:36 GMT
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJHMN5TTUKVLK5WCQ&Action=CreateSubnet&AvailabilityZone=us-east-1b&CidrBlock=172.16.3.0/24&Signature=0K1m0h3jPi5++y2eYjVPf/tbX3iD1+XzALm8gtiG57M=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-08-28T23:23:36.000Z&Version=2010-08-31&VpcId=vpc-a276c0c9
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <CreateSubnetResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>8e6c33e3-f805-46ba-801e-2ca76cf1b3e5</requestId>
            <subnet>
                <subnetId>subnet-a676c0cd</subnetId>
                <state>pending</state>
                <vpcId>vpc-a276c0c9</vpcId>
                <cidrBlock>172.16.3.0/24</cidrBlock>
                <availableIpAddressCount>251</availableIpAddressCount>
                <availabilityZone>us-east-1b</availabilityZone>
            </subnet>
        </CreateSubnetResponse>
  recorded_at: Tue, 28 Aug 2012 23:23:36 GMT
