--- 
recorded_with: VCR 2.2.4
http_interactions: 
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJHMN5TTUKVLK5WCQ&Action=DeleteSubnet&Signature=a4Q/5UWqc9RjkMvHxay5BIx2Hi5wASHEH1snK5KLruQ=&SignatureMethod=HmacSHA256&SignatureVersion=2&SubnetId=subnet-a676c0cd&Timestamp=2012-08-28T23:25:25.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DeleteSubnetResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>6797ff99-f447-4011-b5ac-7550fd4b16de</requestId>
            <return>true</return>
        </DeleteSubnetResponse>
  recorded_at: Tue, 28 Aug 2012 23:25:26 GMT
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJHMN5TTUKVLK5WCQ&Action=DeleteVpc&Signature=5khnoyyAahGeiGBPdWIxWJl/NITCPVvCb3QYyRJVK1A=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-08-28T23:25:26.000Z&Version=2010-08-31&VpcId=vpc-a276c0c9
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DeleteVpcResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>596e3e6f-0aa3-44f2-94ff-5b3959fed84b</requestId>
            <return>true</return>
        </DeleteVpcResponse>
  recorded_at: Tue, 28 Aug 2012 23:25:26 GMT
