--- 
http_interactions: 
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJHMN5TTUKVLK5WCQ&Action=DeleteSubnet&Signature=kpx0IU+viAUHCJMSNE+VAc/Hl0oqHdr08cFN7jwJW38=&SignatureMethod=HmacSHA256&SignatureVersion=2&SubnetId=subnet-62952309&Timestamp=2012-08-28T22:36:45.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DeleteSubnetResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>342eac4f-3687-4d89-92b7-0484b618947e</requestId>
            <return>true</return>
        </DeleteSubnetResponse>
  recorded_at: Tue, 28 Aug 2012 22:36:46 GMT
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJHMN5TTUKVLK5WCQ&Action=DeleteVpc&Signature=OzOLWsGU2ZIwhaA46jecA/wwUeV+hFMu9d1XeUysvG0=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-08-28T22:36:46.000Z&Version=2010-08-31&VpcId=vpc-6a952301
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DeleteVpcResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>d3b55d09-5ece-4b07-a81a-5e9ef3b1d750</requestId>
            <return>true</return>
        </DeleteVpcResponse>
  recorded_at: Tue, 28 Aug 2012 22:36:47 GMT
recorded_with: VCR 2.2.4
