--- 
http_interactions: 
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=RunInstances&AddressingType=public&ImageId=ami-e565ba8c&InstanceType=m1.small&MaxCount=1&MinCount=1&Signature=0YMaaAp86aXDYzSME4JUdqYkosZzvJD7UeIvVjXw8sg=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-05-31T10:58:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <RunInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>e818c779-9f42-483c-913a-533aae2471a2</requestId>
            <reservationId>r-dd2722bf</reservationId>
            <ownerId>293787749884</ownerId>
            <groupSet>
                <item>
                    <groupId>default</groupId>
                </item>
            </groupSet>
            <instancesSet>
                <item>
                    <instanceId>i-6f243c09</instanceId>
                    <imageId>ami-e565ba8c</imageId>
                    <instanceState>
                        <code>0</code>
                        <name>pending</name>
                    </instanceState>
                    <privateDnsName/>
                    <dnsName/>
                    <reason/>
                    <amiLaunchIndex>0</amiLaunchIndex>
                    <productCodes/>
                    <instanceType>m1.small</instanceType>
                    <launchTime>2012-05-31T09:20:40.000Z</launchTime>
                    <placement>
                        <availabilityZone>us-east-1a</availabilityZone>
                        <groupName/>
                    </placement>
                    <kernelId>aki-88aa75e1</kernelId>
                    <monitoring>
                        <state>disabled</state>
                    </monitoring>
                    <stateReason>
                        <code>pending</code>
                        <message>pending</message>
                    </stateReason>
                    <architecture>x86_64</architecture>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping/>
                    <virtualizationType>paravirtual</virtualizationType>
                    <clientToken/>
                </item>
            </instancesSet>
        </RunInstancesResponse>
  recorded_at: Thu, 31 May 2012 10:58:00 GMT
recorded_with: VCR 2.1.1
