--- 
recorded_with: VCR 2.2.4
http_interactions: 
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJHMN5TTUKVLK5WCQ&Action=RunInstances&AddressingType=public&ImageId=ami-aecd60c7&InstanceType=t1.micro&MaxCount=1&MinCount=1&Placement.AvailabilityZone=us-east-1a&Signature=7TAagHYZvKkM2voACsypZzEVxTRT2pqPougPiTKaePw=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-08-28T23:24:39.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <RunInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>945c368c-8dd3-42c8-8923-b3ced28e763e</requestId>
            <reservationId>r-1ff40478</reservationId>
            <ownerId>122214243412</ownerId>
            <groupSet>
                <item>
                    <groupId>default</groupId>
                </item>
            </groupSet>
            <instancesSet>
                <item>
                    <instanceId>i-768c640c</instanceId>
                    <imageId>ami-aecd60c7</imageId>
                    <instanceState>
                        <code>0</code>
                        <name>pending</name>
                    </instanceState>
                    <privateDnsName/>
                    <dnsName/>
                    <reason/>
                    <amiLaunchIndex>0</amiLaunchIndex>
                    <productCodes/>
                    <instanceType>t1.micro</instanceType>
                    <launchTime>2012-08-28T23:24:39.000Z</launchTime>
                    <placement>
                        <availabilityZone>us-east-1a</availabilityZone>
                        <groupName/>
                    </placement>
                    <kernelId>aki-88aa75e1</kernelId>
                    <monitoring>
                        <state>disabled</state>
                    </monitoring>
                    <stateReason>
                        <code>pending</code>
                        <message>pending</message>
                    </stateReason>
                    <architecture>x86_64</architecture>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping/>
                    <virtualizationType>paravirtual</virtualizationType>
                    <clientToken/>
                </item>
            </instancesSet>
        </RunInstancesResponse>
  recorded_at: Tue, 28 Aug 2012 23:24:40 GMT
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJHMN5TTUKVLK5WCQ&Action=RebootInstances&InstanceId.1=i-768c640c&Signature=i2hVf4DeZwGGOvnnOT3znwTn7XZTnjWhfb1Q3sEGbgs=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-08-28T23:25:02.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <RebootInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>630ce453-2d41-4c0d-ab27-140db812d4b1</requestId>
            <return>true</return>
        </RebootInstancesResponse>
  recorded_at: Tue, 28 Aug 2012 23:25:02 GMT
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJHMN5TTUKVLK5WCQ&Action=DescribeInstances&InstanceId.1=i-768c640c&Signature=fwLguKJtHglYEbm+ammmPmaXPMAT9sSg1/EG9XEq6fM=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-08-28T23:25:02.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>a1f18086-624c-4e8e-a81c-ebf736b9f344</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-1ff40478</reservationId>
                    <ownerId>122214243412</ownerId>
                    <groupSet>
                        <item>
                            <groupId>default</groupId>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-768c640c</instanceId>
                            <imageId>ami-aecd60c7</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>domU-12-31-39-03-CA-6E.compute-1.internal</privateDnsName>
                            <dnsName>ec2-23-22-221-103.compute-1.amazonaws.com</dnsName>
                            <reason/>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t1.micro</instanceType>
                            <launchTime>2012-08-28T23:24:39.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1a</availabilityZone>
                                <groupName/>
                            </placement>
                            <kernelId>aki-88aa75e1</kernelId>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <privateIpAddress>10.249.201.152</privateIpAddress>
                            <ipAddress>23.22.221.103</ipAddress>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-75aa0f0e</volumeId>
                                        <status>attached</status>
                                        <attachTime>2012-08-28T23:25:01.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>paravirtual</virtualizationType>
                            <clientToken/>
                        </item>
                    </instancesSet>
                </item>
            </reservationSet>
        </DescribeInstancesResponse>
  recorded_at: Tue, 28 Aug 2012 23:25:03 GMT
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJHMN5TTUKVLK5WCQ&Action=DescribeInstances&InstanceId.1=i-768c640c&Signature=oOTcViQozv2KBCKISS1arGBbGhi/xMSwpfrgNuBK1co=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-08-28T23:25:03.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      s[...]
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJHMN5TTUKVLK5WCQ&Action=TerminateInstances&InstanceId.1=i-768c640c&Signature=kTmPtjoaUUqtXzwg3u3DEiK5i95ENZWKKRnkNJk9+aw=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-08-28T23:25:03.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <TerminateInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>5f727b94-b7b6-42d7-a91d-656f84614b98</requestId>
            <instancesSet>
                <item>
                    <instanceId>i-768c640c</instanceId>
                    <currentState>
                        <code>32</code>
                        <name>shutting-down</name>
                    </currentState>
                    <previousState>
                        <code>16</code>
                        <name>running</name>
                    </previousState>
                </item>
            </instancesSet>
        </TerminateInstancesResponse>
  recorded_at: Tue, 28 Aug 2012 23:25:04 GMT
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJHMN5TTUKVLK5WCQ&Action=DescribeInstances&InstanceId.1=i-768c640c&Signature=ma4c9NIDY+wOdJZwqEg6JciJwSq6jgj/Ip8G63vrjhk=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-08-28T23:25:04.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      s[...]
