--- 
http_interactions: 
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=DescribeInstances&InstanceId.1=i-4d15f036&Signature=xePzugFxFj+0Q+CZD1brO+hQJW3B57cTN/UymCXxzXM=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-30T11:05:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>91737562-ccd7-4569-a2df-bda561de653c</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-d03786b4</reservationId>
                    <ownerId>293787749884</ownerId>
                    <groupSet>
                        <item>
                            <groupId>quicklaunch-1</groupId>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-4d15f036</instanceId>
                            <imageId>ami-aecd60c7</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-244-129-68.ec2.internal</privateDnsName>
                            <dnsName>ec2-50-16-22-176.compute-1.amazonaws.com</dnsName>
                            <reason/>
                            <keyName>test1</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t1.micro</instanceType>
                            <launchTime>2012-07-30T10:42:06.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1b</availabilityZone>
                                <groupName/>
                            </placement>
                            <kernelId>aki-88aa75e1</kernelId>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <privateIpAddress>10.244.129.68</privateIpAddress>
                            <ipAddress>50.16.22.176</ipAddress>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-e0464981</volumeId>
                                        <status>attached</status>
                                        <attachTime>2012-07-30T10:42:29.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>paravirtual</virtualizationType>
                            <clientToken>ESSjW1343644926272</clientToken>
                        </item>
                    </instancesSet>
                </item>
            </reservationSet>
        </DescribeInstancesResponse>
  recorded_at: Mon, 30 Jul 2012 11:05:00 GMT
[...]
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=DescribeInstances&InstanceId.1=i-00000000&Signature=9Ysu0P/7MAsoTeehZ1RdahqoDbALad8mSNUNZXQwQE0=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-30T11:05:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      Cneonction: 
      - close
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Response><Errors><Error><Code>InvalidInstanceID.NotFound</Code><Message>The instance ID 'i-00000000' does not exist</Message></Error></Errors><RequestID>f9ad310b-1d52-4df3-bb87-d5e1e781473b</RequestID></Response>
  recorded_at: Mon, 30 Jul 2012 11:05:00 GMT
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=DescribeInstances&InstanceId.1=unknown&Signature=NK8b+Zk73UYuFwrZK7yUDs2LDmsLERpAADvWPV8OZK8=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-30T11:05:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      Cneonction: 
      - close
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Response><Errors><Error><Code>InvalidInstanceID.Malformed</Code><Message>Invalid id: "unknown"</Message></Error></Errors><RequestID>9b72817f-0a30-4f8e-b93b-6eca287d2773</RequestID></Response>
  recorded_at: Mon, 30 Jul 2012 11:05:00 GMT
recorded_with: VCR 2.2.4
