---
http_interactions:
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=DescribeImages&Filter.1.Name=image-type&Filter.1.Value.1=machine&Owner.1=amazon&Signature=2bKFK13fuf8EfnEKS1fqwWMnglipEc6yxinkSMG7huY=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-23T12:21:00.000Z&Version=2010-08-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeImagesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2010-08-31/\">\n    <requestId>c1b976f5-42b6-4c53-9230-6d77cb63614f</requestId>\n
        \   <imagesSet>\n        <item>\n            <imageId>ami-005daf69</imageId>\n
        \           <imageLocation>amazon/ElasticBeanstalk-Tomcat6-64bit-20110322-2041</imageLocation>\n
        \           <imageState>available</imageState>\n            <imageOwnerId>102837901569</imageOwnerId>\n
        \           <isPublic>true</isPublic>\n            <architecture>x86_64</architecture>\n
        \           <imageType>machine</imageType>\n            <kernelId>aki-427d952b</kernelId>\n
        \           <imageOwnerAlias>amazon</imageOwnerAlias>\n            <name>ElasticBeanstalk-Tomcat6-64bit-20110322-2041</name>\n
        \           <description>Elastic Beanstalk Tomcat 6 64-bit</description>\n
        \           <rootDeviceType>ebs</rootDeviceType>\n            <rootDeviceName>/dev/sda1</rootDeviceName>\n
        \           <blockDeviceMapping>\n                <item>\n                    <deviceName>/dev/sda1</deviceName>\n
        \                   <ebs>\n                        <snapshotId>snap-4bd68427</snapshotId>\n
        \                       <volumeSize>8</volumeSize>\n                        <deleteOnTermination>true</deleteOnTermination>\n
        \                   </ebs>\n                </item>\n            </blockDeviceMapping>\n
        \           <virtualizationType>paravirtual</virtualizationType>\n        </item>\n
        \       <item>\n            <imageId>ami-0078da69</imageId>\n            <imageLocation>amzn-ami-us-east-1/amzn-ami-pv-2012.03.2.x86_64.manifest.xml</imageLocation>\n
        \           <imageState>available</imageState>\n            <imageOwnerId>137112412989</imageOwnerId>\n
        \           <isPublic>true</isPublic>\n            <architecture>x86_64</architecture>\n
        \           <imageType>machine</imageType>\n            <kernelId>aki-88aa75e1</kernelId>\n
        \           <imageOwnerAlias>amazon</imageOwnerAlias>\n            <name>amzn-ami-pv-2012.03.2.x86_64-s3</name>\n
        \           <description>Amazon Linux AMI x86_64 S3</description>\n            <rootDeviceType>instance-store</rootDeviceType>\n
        \           <blockDeviceMapping/>\n            <virtualizationType>paravirtual</virtualizationType>\n
        \       </item>\n        <item>\n            <imageId>ami-00fe0569</imageId>\n
        \           <imageLocation>ec2-ibm-informix-us-east-1/informix-11.50.growth.manifest.xml</imageLocation>\n
        \           <imageState>available</imageState>\n            <imageOwnerId>470254534024</imageOwnerId>\n
        \           <isPublic>true</isPublic>\n            <productCodes>\n                <item>\n
        \                   <productCode>1F691706</productCode>\n                </item>\n
        \           </productCodes>\n            <architecture>x86_64</architecture>\n
        \           <imageType>machine</imageType>\n            <kernelId>aki-427d952b</kernelId>\n
        \           <imageOwnerAlias>amazon</imageOwnerAlias>\n            <rootDeviceType>instance-store</rootDeviceType>\n
        \           <blockDeviceMapping/>\n            <virtualizationType>paravirtual</virtualizationType>\n
        \       </item>\n   [...]
[...]
