--- 
http_interactions: 
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=DescribeAvailabilityZones&Signature=133mK5vqs6QlcWElQ69/URtDKmTVf2fSu+gqYCOEQz4=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-05-31T10:58:00.000Z&Version=2010-08-31&ZoneName.1=us-east-1a
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>0e41d9e8-cfae-492c-9a1d-30f94ebd9184</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>us-east-1a</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Thu, 31 May 2012 10:58:00 GMT
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=DescribeAvailabilityZones&Signature=18gF0YwYk4ZPPSXyDDj5mmeDjpMlRhHgDXUx8P0gIYs=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-05-31T10:58:00.000Z&Version=2010-08-31&ZoneName.1=us-east-1b
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>f840e3b1-76be-42d9-8416-4d732ac304fc</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>us-east-1b</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Thu, 31 May 2012 10:58:00 GMT
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=DescribeAvailabilityZones&Signature=5cf5QEQ2ttFc6JlquNQFmr/hf/308/jvb1aY1N22zK4=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-05-31T10:58:00.000Z&Version=2010-08-31&ZoneName.1=us-east-1c
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>73603bf8-1bbb-46d7-bf5c-1990dc1f8f65</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>us-east-1c</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Thu, 31 May 2012 10:58:00 GMT
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=DescribeAvailabilityZones&Signature=ISaPeQChbWVbe4ocCbYu+0+6QzuImRnrU69Wq5V+6zc=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-05-31T10:58:00.000Z&Version=2010-08-31&ZoneName.1=us-east-1d
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>1abe809c-7201-4ff1-9e93-bf92a4730e05</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>us-east-1d</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Thu, 31 May 2012 10:58:00 GMT
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=DescribeAvailabilityZones&Signature=kh8qFYOk1VfBHN5j66XRbeAHqFxv6Nx5jLU8WGVmiCU=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-05-31T10:58:00.000Z&Version=2010-08-31&ZoneName.1=us-east-1e
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>e1d66185-45ff-4f73-a9ea-b95af74777df</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>us-east-1e</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Thu, 31 May 2012 10:58:00 GMT
recorded_with: VCR 2.1.1
