---
http_interactions:
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=DescribeInstances&InstanceId.1=i-58ebc420&Signature=+3HbDxN8wA+3KTcaAUTlt6isyhjbiDyDqEBnVVn52kg=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-23T12:21:00.000Z&Version=2010-08-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2010-08-31/\">\n    <requestId>92485229-5d62-4a4a-93d1-9b358d995628</requestId>\n
        \   <reservationSet>\n        <item>\n            <reservationId>r-3e7bb05a</reservationId>\n
        \           <ownerId>293787749884</ownerId>\n            <groupSet>\n                <item>\n
        \                   <groupId>default</groupId>\n                </item>\n
        \           </groupSet>\n            <instancesSet>\n                <item>\n
        \                   <instanceId>i-58ebc420</instanceId>\n                    <imageId>ami-aecd60c7</imageId>\n
        \                   <instanceState>\n                        <code>16</code>\n
        \                       <name>running</name>\n                    </instanceState>\n
        \                   <privateDnsName>domU-12-31-39-0A-22-F4.compute-1.internal</privateDnsName>\n
        \                   <dnsName>ec2-23-22-148-245.compute-1.amazonaws.com</dnsName>\n
        \                   <reason/>\n                    <amiLaunchIndex>1</amiLaunchIndex>\n
        \                   <productCodes/>\n                    <instanceType>t1.micro</instanceType>\n
        \                   <launchTime>2012-07-23T12:23:49.000Z</launchTime>\n                    <placement>\n
        \                       <availabilityZone>us-east-1a</availabilityZone>\n
        \                       <groupName/>\n                    </placement>\n                    <kernelId>aki-88aa75e1</kernelId>\n
        \                   <monitoring>\n                        <state>disabled</state>\n
        \                   </monitoring>\n                    <privateIpAddress>10.211.33.6</privateIpAddress>\n
        \                   <ipAddress>23.22.148.245</ipAddress>\n                    <architecture>x86_64</architecture>\n
        \                   <rootDeviceType>ebs</rootDeviceType>\n                    <rootDeviceName>/dev/sda1</rootDeviceName>\n
        \                   <blockDeviceMapping>\n                        <item>\n
        \                           <deviceName>/dev/sda1</deviceName>\n                            <ebs>\n
        \                               <volumeId>vol-3ed08b5f</volumeId>\n                                <status>attached</status>\n
        \                               <attachTime>2012-07-23T12:24:13.000Z</attachTime>\n
        \                               <deleteOnTermination>true</deleteOnTermination>\n
        \                           </ebs>\n                        </item>\n                    </blockDeviceMapping>\n
        \                   <virtualizationType>paravirtual</virtualizationType>\n
        \                   <clientToken/>\n                </item>\n            </instancesSet>\n
        \       </item>\n    </reservationSet>\n</DescribeInstancesResponse>"
  recorded_at: Mon, 23 Jul 2012 12:21:00 GMT
recorded_with: VCR 2.1.1
