--- 
http_interactions: 
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=DescribeImages&ImageId.1=ami-c02df0a9&Signature=rP0+nEosmwvyhW8iT5MPO8lKgUNEmzK9NLOQhFx0Zdc=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-05-31T10:58:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>cdbf5a86-c4c9-41a5-92f9-46aee1ea1ed4</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-c02df0a9</imageId>
                    <imageLocation>amazon/suse-sles-11-sp2-hvm-v1.00.x86_64</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>013907871322</imageOwnerId>
                    <isPublic>true</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <imageOwnerAlias>amazon</imageOwnerAlias>
                    <name>suse-sles-11-sp2-hvm-v1.00.x86_64</name>
                    <description>SUSE Linux Enterprise Server 11 Service Pack 2 for x86_64 (Build 11.1)</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-d4fb96af</snapshotId>
                                <volumeSize>10</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>hvm</virtualizationType>
                </item>
            </imagesSet>
        </DescribeImagesResponse>
  recorded_at: Thu, 31 May 2012 10:58:00 GMT
recorded_with: VCR 2.1.1
