---
http_interactions:
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=DescribeImages&ImageId.1=ami-aecd60c7&Signature=KLzLL4dy5UUeBWFUDbYUZ38wvyCr2jGXq++7Qdpcb2k=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-23T12:21:00.000Z&Version=2010-08-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeImagesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2010-08-31/\">\n    <requestId>5be8b2ed-fed9-45a2-9b3b-ea6fcc028ef9</requestId>\n
        \   <imagesSet>\n        <item>\n            <imageId>ami-aecd60c7</imageId>\n
        \           <imageLocation>amazon/amzn-ami-pv-2012.03.3.x86_64-ebs</imageLocation>\n
        \           <imageState>available</imageState>\n            <imageOwnerId>137112412989</imageOwnerId>\n
        \           <isPublic>true</isPublic>\n            <architecture>x86_64</architecture>\n
        \           <imageType>machine</imageType>\n            <kernelId>aki-88aa75e1</kernelId>\n
        \           <imageOwnerAlias>amazon</imageOwnerAlias>\n            <name>amzn-ami-pv-2012.03.3.x86_64-ebs</name>\n
        \           <description>Amazon Linux AMI x86_64 EBS</description>\n            <rootDeviceType>ebs</rootDeviceType>\n
        \           <rootDeviceName>/dev/sda1</rootDeviceName>\n            <blockDeviceMapping>\n
        \               <item>\n                    <deviceName>/dev/sda1</deviceName>\n
        \                   <ebs>\n                        <snapshotId>snap-b4f064ca</snapshotId>\n
        \                       <volumeSize>8</volumeSize>\n                        <deleteOnTermination>true</deleteOnTermination>\n
        \                   </ebs>\n                </item>\n            </blockDeviceMapping>\n
        \           <virtualizationType>paravirtual</virtualizationType>\n        </item>\n
        \   </imagesSet>\n</DescribeImagesResponse>"
  recorded_at: Mon, 23 Jul 2012 12:21:00 GMT
[...]
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=DescribeImages&Filter.1.Name=image-type&Filter.1.Value.1=machine&Owner.1=137112412989&Signature=wwlEd6hj44+aR5YUPEwFb6S/fJzl2GQuvVGPM1B/oyA=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-23T12:21:00.000Z&Version=2010-08-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      C[...]
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=DescribeImages&ImageId.1=ami-aaaaaaaa&Signature=XnTroSWZuVj9NK7+nugXloczy0LL4HiuZTFssXi0X3o=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-23T12:21:00.000Z&Version=2010-08-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Cneonction:
      - close
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <Response><Errors><Error><Code>InvalidAMIID.NotFound</Code><Message>The AMI
        ID ''ami-aaaaaaaa'' does not exist</Message></Error></Errors><RequestID>71a55a59-ef30-40eb-a719-ffffecbec72c</RequestID></Response>'
  recorded_at: Mon, 23 Jul 2012 12:21:00 GMT
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=DescribeImages&ImageId.1=unknown&Signature=UOe9PfwQjIeQ98xUXppbrjn7dMtgE8ADUBtyBe6rLMo=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-23T12:21:00.000Z&Version=2010-08-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Cneonction:
      - close
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <Response><Errors><Error><Code>InvalidAMIID.Malformed</Code><Message>Invalid
        id: "unknown" (expecting "ami-...")</Message></Error></Errors><RequestID>d45a6b66-245d-4078-9f14-b48ec14b8267</RequestID></Response>'
  recorded_at: Mon, 23 Jul 2012 12:21:00 GMT
recorded_with: VCR 2.1.1
