---
http_interactions:
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=DescribeInstances&InstanceId.1=i-4cdcf034&Signature=ZJw35KE/PFNiBAmaMVQaYrBjB1oI+8byZDxdq1JEjEo=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-23T12:21:00.000Z&Version=2010-08-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2010-08-31/\">\n    <requestId>40c62a91-1128-4584-8bf1-d8f3c5a412b0</requestId>\n
        \   <reservationSet>\n        <item>\n            <reservationId>r-c4eb20a0</reservationId>\n
        \           <ownerId>293787749884</ownerId>\n            <groupSet>\n                <item>\n
        \                   <groupId>default</groupId>\n                </item>\n
        \           </groupSet>\n            <instancesSet>\n                <item>\n
        \                   <instanceId>i-4cdcf034</instanceId>\n                    <imageId>ami-aecd60c7</imageId>\n
        \                   <instanceState>\n                        <code>16</code>\n
        \                       <name>running</name>\n                    </instanceState>\n
        \                   <privateDnsName>ip-10-243-89-48.ec2.internal</privateDnsName>\n
        \                   <dnsName>ec2-107-22-89-56.compute-1.amazonaws.com</dnsName>\n
        \                   <reason/>\n                    <keyName>test1</keyName>\n
        \                   <amiLaunchIndex>0</amiLaunchIndex>\n                    <productCodes/>\n
        \                   <instanceType>t1.micro</instanceType>\n                    <launchTime>2012-07-23T09:50:10.000Z</launchTime>\n
        \                   <placement>\n                        <availabilityZone>us-east-1b</availabilityZone>\n
        \                       <groupName/>\n                    </placement>\n                    <kernelId>aki-88aa75e1</kernelId>\n
        \                   <monitoring>\n                        <state>disabled</state>\n
        \                   </monitoring>\n                    <privateIpAddress>10.243.89.48</privateIpAddress>\n
        \                   <ipAddress>107.22.89.56</ipAddress>\n                    <architecture>x86_64</architecture>\n
        \                   <rootDeviceType>ebs</rootDeviceType>\n                    <rootDeviceName>/dev/sda1</rootDeviceName>\n
        \                   <blockDeviceMapping>\n                        <item>\n
        \                           <deviceName>/dev/sda1</deviceName>\n                            <ebs>\n
        \                               <volumeId>vol-fc550e9d</volumeId>\n                                <status>attached</status>\n
        \                               <attachTime>2012-07-23T09:50:37.000Z</attachTime>\n
        \                               <deleteOnTermination>true</deleteOnTermination>\n
        \                           </ebs>\n                        </item>\n                    </blockDeviceMapping>\n
        \                   <virtualizationType>paravirtual</virtualizationType>\n
        \                   <clientToken>GFrhH1343037009640</clientToken>\n                    <tagSet>\n
        \                       <item>\n                            <key>Name</key>\n
        \                           <value/>\n                        </item>\n                    </tagSet>\n
        \               </item>\n            </instancesSet>\n        </item>\n    </reservationSet>\n</DescribeInstancesResponse>"
  recorded_at: Mon, 23 Jul 2012 12:21:00 GMT
[...]
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=DescribeInstances&InstanceId.1=i-00000000&Signature=3Yp7LtnVNjf+Rns2ekiE6fXW529eM67+RmsL1iLGcqs=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-23T12:21:00.000Z&Version=2010-08-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Cneonction:
      - close
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <Response><Errors><Error><Code>InvalidInstanceID.NotFound</Code><Message>The
        instance ID ''i-00000000'' does not exist</Message></Error></Errors><RequestID>305b8bfc-cab7-4d2b-88b4-a1483e1db586</RequestID></Response>'
  recorded_at: Mon, 23 Jul 2012 12:21:00 GMT
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=DescribeInstances&InstanceId.1=unknown&Signature=d/JnFHwLvTttdo/7MOqk0SE6KEBKKhRWGUg3Hhqv7Yw=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-23T12:21:00.000Z&Version=2010-08-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Cneonction:
      - close
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <Response><Errors><Error><Code>InvalidInstanceID.Malformed</Code><Message>Invalid
        id: "unknown"</Message></Error></Errors><RequestID>f59239fe-9b95-4e59-b753-686a112a1f01</RequestID></Response>'
  recorded_at: Mon, 23 Jul 2012 12:21:00 GMT
recorded_with: VCR 2.1.1
