---
http_interactions:
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=DescribeInstances&Signature=BqK4Ehw9hMm0ISSqofqzZeaL8eP/Zylsoo6oyyuX9qA=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-23T12:21:00.000Z&Version=2010-08-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2010-08-31/\">\n    <requestId>7f6d120c-5c01-4c3b-a452-3d88ae06e658</requestId>\n
        \   <reservationSet>\n        <item>\n            <reservationId>r-c4eb20a0</reservationId>\n
        \           <ownerId>293787749884</ownerId>\n            <groupSet>\n                <item>\n
        \                   <groupId>default</groupId>\n                </item>\n
        \           </groupSet>\n            <instancesSet>\n                <item>\n
        \                   <instanceId>i-4cdcf034</instanceId>\n                    <imageId>ami-aecd60c7</imageId>\n
        \                   <instanceState>\n                        <code>16</code>\n
        \                       <name>running</name>\n                    </instanceState>\n
        \                   <privateDnsName>ip-10-243-89-48.ec2.internal</privateDnsName>\n
        \                   <dnsName>ec2-107-22-89-56.compute-1.amazonaws.com</dnsName>\n
        \                   <reason/>\n                    <keyName>test1</keyName>\n
        \                   <amiLaunchIndex>0</amiLaunchIndex>\n                    <productCodes/>\n
        \                   <instanceType>t1.micro</instanceType>\n                    <launchTime>2012-07-23T09:50:10.000Z</launchTime>\n
        \                   <placement>\n                        <availabilityZone>us-east-1b</availabilityZone>\n
        \                       <groupName/>\n                    </placement>\n                    <kernelId>aki-88aa75e1</kernelId>\n
        \                   <monitoring>\n                        <state>disabled</state>\n
        \                   </monitoring>\n                    <privateIpAddress>10.243.89.48</privateIpAddress>\n
        \                   <ipAddress>107.22.89.56</ipAddress>\n                    <architecture>x86_64</architecture>\n
        \                   <rootDeviceType>ebs</rootDeviceType>\n                    <rootDeviceName>/dev/sda1</rootDeviceName>\n
        \                   <blockDeviceMapping>\n                        <item>\n
        \                           <deviceName>/dev/sda1</deviceName>\n                            <ebs>\n
        \                               <volumeId>vol-fc550e9d</volumeId>\n                                <status>attached</status>\n
        \                               <attachTime>2012-07-23T09:50:37.000Z</attachTime>\n
        \                               <deleteOnTermination>true</deleteOnTermination>\n
        \                           </ebs>\n                        </item>\n                    </blockDeviceMapping>\n
        \                   <virtualizationType>paravirtual</virtualizationType>\n
        \                   <clientToken>GFrhH1343037009640</clientToken>\n                    <tagSet>\n
        \                       <item>\n                            <key>Name</key>\n
        \                           <value/>\n                        </item>\n                    </tagSet>\n
        \               </item>\n            </instancesSet>\n        </item>\n        <item>\n
        \           <reservationId>r-34428950</reservationId>\n            <ownerId>293787749884</ownerId>\n
        \           <groupSet>\n                <item>\n                    <groupId>default</groupId>\n
        \               </item>\n            </groupSet>\n            <instancesSet>\n
        \               <item>\n                    <instanceId>i-a6230cde</instanceId>\n
        \                   <imageId>ami-aecd60c7</imageId>\n                    <instanceState>\n
        \                       <code>48</code>\n                        <name>terminated</name>\n
        \                   </instanceState>\n                    <privateDnsName/>\n
        \                   <dnsName/>\n                    <reason>User initiated
        (2012-07-23 11:45:34 GMT)</reason>\n                    <amiLaunchIndex>0</amiLaunchIndex>\n
        \                   <productCodes/>\n                    <instanceType>t1.micro</instanceType>\n
        \                   <launchTime>2012-07-23T11:44:32.000Z</launchTime>\n                    <placement>\n
        \                       <availabilityZone>us-east-1a</availabilityZone>\n
        \                       <groupName/>\n                    </placement>\n                    <kernelId>aki-88aa75e1</kernelId>\n
        \                   <monitoring>\n                        <state>disabled</state>\n
        \                   </monitoring>\n                    <stateReason>\n                        <code>Client.UserInitiatedShutdown</code>\n
        \                       <message>Client.UserInitiatedShutdown: User initiated
        shutdown</message>\n                    </stateReason>\n                    <architecture>x86_64</architecture>\n
        \                   <rootDeviceType>ebs</rootDeviceType>\n                    <rootDeviceName>/dev/sda1</rootDeviceName>\n
        \                   <blockDeviceMapping/>\n                    <virtualizationType>[...]
[...]
