--- 
http_interactions: 
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=DescribeImages&Filter.1.Name=image-type&Filter.1.Value.1=machine&Owner.1=amazon&Signature=RcA3/VOg6u9ou6reXviZpsVQ+QKgv+iUtA90B/h5wE8=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-05-31T10:58:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>5c1cc1a6-d63b-4f35-a3ae-a531451d2430</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-005daf69</imageId>
                    <imageLocation>amazon/ElasticBeanstalk-Tomcat6-64bit-20110322-2041</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>102837901569</imageOwnerId>
                    <isPublic>true</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-427d952b</kernelId>
                    <imageOwnerAlias>amazon</imageOwnerAlias>
                    <name>ElasticBeanstalk-Tomcat6-64bit-20110322-2041</name>
                    <description>Elastic Beanstalk Tomcat 6 64-bit</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-4bd68427</snapshotId>
                                <volumeSize>8</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>paravirtual</virtualizationType>
                </item>
                <item>
                    <imageId>ami-00fe0569</imageId>
                    <imageLocation>ec2-ibm-informix-us-east-1/informix-11.50.growth.manifest.xml</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>470254534024</imageOwnerId>
                    <isPublic>true</isPublic>
                    <productCodes>
                        <item>
                            <productCode>1F691706</productCode>
                        </item>
                    </productCodes>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-427d952b</kernelId>
                    <imageOwnerAlias>amazon</imageOwnerAlias>
                    <rootDeviceType>instance-store</rootDeviceType>
                    <blockDeviceMapping/>
                    <virtualizationType>paravirtual</virtualizationType>
   [...]
