--- 
http_interactions: 
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=RunInstances&AddressingType=public&ImageId=ami-aecd60c7&InstanceType=t1.micro&MaxCount=1&MinCount=1&Placement.AvailabilityZone=us-east-1a&Signature=5QeyXEroD8vgxShp1x92wRRrNzaPgEg4ZK59eoUX9kU=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-30T11:05:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <RunInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>cf80633e-256f-470a-a83d-88abb5c1560b</requestId>
            <reservationId>r-362c9d52</reservationId>
            <ownerId>293787749884</ownerId>
            <groupSet>
                <item>
                    <groupId>default</groupId>
                </item>
            </groupSet>
            <instancesSet>
                <item>
                    <instanceId>i-7177920a</instanceId>
                    <imageId>ami-aecd60c7</imageId>
                    <instanceState>
                        <code>0</code>
                        <name>pending</name>
                    </instanceState>
                    <privateDnsName/>
                    <dnsName/>
                    <reason/>
                    <amiLaunchIndex>0</amiLaunchIndex>
                    <productCodes/>
                    <instanceType>t1.micro</instanceType>
                    <launchTime>2012-07-30T11:07:18.000Z</launchTime>
                    <placement>
                        <availabilityZone>us-east-1a</availabilityZone>
                        <groupName/>
                    </placement>
                    <kernelId>aki-88aa75e1</kernelId>
                    <monitoring>
                        <state>disabled</state>
                    </monitoring>
                    <stateReason>
                        <code>pending</code>
                        <message>pending</message>
                    </stateReason>
                    <architecture>x86_64</architecture>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping/>
                    <virtualizationType>paravirtual</virtualizationType>
                    <clientToken/>
                </item>
            </instancesSet>
        </RunInstancesResponse>
  recorded_at: Mon, 30 Jul 2012 11:05:00 GMT
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=RebootInstances&InstanceId.1=i-7177920a&Signature=MHKArgLDFZXKcn5R94a0OKfRSglhuh7nQVGDCHne7bo=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-30T11:05:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <RebootInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>dac6168f-fbdc-4deb-9eae-5a2b115acaaa</requestId>
            <return>true</return>
        </RebootInstancesResponse>
  recorded_at: Mon, 30 Jul 2012 11:05:00 GMT
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=DescribeInstances&InstanceId.1=i-7177920a&Signature=DHxm7p2CMHn5fzkybhIzC977iJ/i59rnLEIXVWdrTVE=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-30T11:05:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>61ad04de-03cc-43c1-b9b0-dac06751e2b7</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-362c9d52</reservationId>
                    <ownerId>293787749884</ownerId>
                    <groupSet>
                        <item>
                            <groupId>default</groupId>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-7177920a</instanceId>
                            <imageId>ami-aecd60c7</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>domU-12-31-39-02-75-62.compute-1.internal</privateDnsName>
                            <dnsName>ec2-23-20-114-135.compute-1.amazonaws.com</dnsName>
                            <reason/>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t1.micro</instanceType>
                            <launchTime>2012-07-30T11:07:18.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1a</availabilityZone>
                                <groupName/>
                            </placement>
                            <kernelId>aki-88aa75e1</kernelId>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <privateIpAddress>10.248.122.144</privateIpAddress>
                            <ipAddress>23.20.114.135</ipAddress>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-ba6f60db</volumeId>
                                        <status>attached</status>
                                        <attachTime>2012-07-30T11:07:42.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>paravirtual</virtualizationType>
                            <clientToken/>
                        </item>
                    </instancesSet>
                </item>
            </reservationSet>
        </DescribeInstancesResponse>
  recorded_at: Mon, 30 Jul 2012 11:05:00 GMT
[...]
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=TerminateInstances&InstanceId.1=i-7177920a&Signature=nGpU/fD4fCQiwW7gRirEQ4ZlzZ/Fdo7Wl9g0IGT1oLI=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-30T11:05:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <TerminateInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>7e42a612-937d-43e4-8750-eac942ccfe5d</requestId>
            <instancesSet>
                <item>
                    <instanceId>i-7177920a</instanceId>
                    <currentState>
                        <code>32</code>
                        <name>shutting-down</name>
                    </currentState>
                    <previousState>
                        <code>16</code>
                        <name>running</name>
                    </previousState>
                </item>
            </instancesSet>
        </TerminateInstancesResponse>
  recorded_at: Mon, 30 Jul 2012 11:05:00 GMT
[...]
