--- 
http_interactions: 
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=CreateKeyPair&KeyName=test-key-1&Signature=NyXFaoWEIHrQP8OJrHwNw5TxDhCedwcuPQpAIaCD4wk=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-30T11:05:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <CreateKeyPairResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>8449507c-2d7d-4968-a6d4-3945b186b11c</requestId>
            <keyName>test-key-1</keyName>
            <keyFingerprint>70:9e:3f:f3:a7:80:bc:77:ca:50:ef:dc:38:e7:d7:28:72:53:35:1c</keyFingerprint>
            <keyMaterial>-----BEGIN RSA PRIVATE KEY-----
        MIIEogIBAAKCAQEAkDdCpjV5vndFMUIpTC8SMHt5Y34erTwpmBMi4q744dQJgIwVkLcCCafoMXKG
        6pgcITUgJmxF6S3rjR2c4DnWpThga7i1bN/tZxOqG5XA+N1HTzA9KNkGRjTJxSZ8yjCSa1Wwqk6l
        mQ9HwNHA0erLqz5lB+oLyeeZ/8n9U2MselUxv8S2h7AuAJEIhaSNHrtNMLlN4TLbfqlEpdqwiEMa
        FiIqhmE7TezsSERzx252dnd3VWRA9xHC9D0UrrSR0pVN0RgYdstBp5HaGJOBq8GUnLrVVaRfBt0B
        F77pShvgQL+6NT1r8CN1RBh6AbOGNJs1T9j+Rp9ti8WPPohHLUFTcwIDAQABAoIBADvpWRzndk40
        CmCuVa26mFnf0cwNZv0c00LEIGf/vJFEnzX[...]
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=CreateKeyPair&KeyName=test-key-1&Signature=NyXFaoWEIHrQP8OJrHwNw5TxDhCedwcuPQpAIaCD4wk=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-30T11:05:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      Cneonction: 
      - close
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Response><Errors><Error><Code>InvalidKeyPair.Duplicate</Code><Message>The keypair 'test-key-1' already exists.</Message></Error></Errors><RequestID>88d9774c-167b-4f49-8607-bcf41ac425c4</RequestID></Response>
  recorded_at: Mon, 30 Jul 2012 11:05:00 GMT
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=DescribeKeyPairs&KeyName.1=test-key-1&Signature=l+ATQ3FiS4bLbi620LP/OSi2F86Hd5ZKi0ROB0G2ntE=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-30T11:05:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>9486aa26-4262-4289-baf4-9def08e153eb</requestId>
            <keySet>
                <item>
                    <keyName>test-key-1</keyName>
                    <keyFingerprint>70:9e:3f:f3:a7:80:bc:77:ca:50:ef:dc:38:e7:d7:28:72:53:35:1c</keyFingerprint>
                </item>
            </keySet>
        </DescribeKeyPairsResponse>
  recorded_at: Mon, 30 Jul 2012 11:05:00 GMT
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=DeleteKeyPair&KeyName=test-key-1&Signature=Nf9fiAxqvDg6XFceaeOnrJE6uuuLJbdsLxYoB+RPR60=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-30T11:05:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DeleteKeyPairResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>f11cf9db-4b85-4b85-895f-c245cf927d39</requestId>
            <return>true</return>
        </DeleteKeyPairResponse>
  recorded_at: Mon, 30 Jul 2012 11:05:00 GMT
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=DescribeKeyPairs&KeyName.1=test-key-1&Signature=l+ATQ3FiS4bLbi620LP/OSi2F86Hd5ZKi0ROB0G2ntE=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-30T11:05:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      Cneonction: 
      - close
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Response><Errors><Error><Code>InvalidKeyPair.NotFound</Code><Message>The key pair 'test-key-1' does not exist</Message></Error></Errors><RequestID>5047e47e-c675-49fc-bcf1-e28f363b4810</RequestID></Response>
  recorded_at: Mon, 30 Jul 2012 11:05:00 GMT
recorded_with: VCR 2.2.4
