--- 
http_interactions: 
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=DescribeInstances&Signature=8AR3+OGCtDJ123wmPuxMdYLmP7j6JNkSVt8o9DRBmHY=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-30T11:05:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>d12e3e69-428d-4c76-9123-000eafaae10f</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-d03786b4</reservationId>
                    <ownerId>293787749884</ownerId>
                    <groupSet>
                        <item>
                            <groupId>quicklaunch-1</groupId>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-4d15f036</instanceId>
                            <imageId>ami-aecd60c7</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-244-129-68.ec2.internal</privateDnsName>
                            <dnsName>ec2-50-16-22-176.compute-1.amazonaws.com</dnsName>
                            <reason/>
                            <keyName>test1</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t1.micro</instanceType>
                            <launchTime>2012-07-30T10:42:06.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1b</availabilityZone>
                                <groupName/>
                            </placement>
                            <kernelId>aki-88aa75e1</kernelId>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <privateIpAddress>10.244.129.68</privateIpAddress>
                            <ipAddress>50.16.22.176</ipAddress>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-e0464981</volumeId>
                                        <status>attached</status>
                                        <attachTime>2012-07-30T10:42:29.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>paravirtual</virtualizationType>
                            <clientToken>ESSjW1343644926272</clientToken>
                        </item>
                    </instancesSet>
                </item>
                <item>
                    <reservationId>r-04368760</reservationId>
                    <ownerId>293787749884</ownerId>
                    <groupSet>
                        <item>
                            <groupId>default</groupId>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-8d15f0f6</instanceId>
                            <imageId>ami-aecd60c7</imageId>
                            <instanceState>
                                <code>48</code>
                                <name>terminated</name>
                            </instanceState>
                            <privateDnsName/>
                            <dnsName/>
                            <reason>User initiated (2012-07-30 10:43:26 GMT)</reason>
                            <keyName>test1</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t1.micro</instanceType>
                            <launchTime>2012-07-30T10:42:56.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1a</availabilityZone>
                                <groupName/>
                            </placement>
                            <kernelId>aki-88aa75e1</kernelId>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <stateReason>
                                <code>Client.UserInitiatedShutdown</code>
                                <message>Client.UserInitiatedShutdown: User initiated shutdown</message>
                            </stateReason>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping/>
                           [...]
[...]
