--- 
recorded_with: VCR 2.2.4
http_interactions: 
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=DescribeImages&ImageId.1=ami-aecd60c7&Signature=7xtiwWEIAuEU3TfSKWNtSMr8NxrkBEGMdy0t8enC/ec=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-30T11:05:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>91b1f964-91b8-407b-a417-42222c96b228</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-aecd60c7</imageId>
                    <imageLocation>amazon/amzn-ami-pv-2012.03.3.x86_64-ebs</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>137112412989</imageOwnerId>
                    <isPublic>true</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-88aa75e1</kernelId>
                    <imageOwnerAlias>amazon</imageOwnerAlias>
                    <name>amzn-ami-pv-2012.03.3.x86_64-ebs</name>
                    <description>Amazon Linux AMI x86_64 EBS</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-b4f064ca</snapshotId>
                                <volumeSize>8</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>paravirtual</virtualizationType>
                </item>
            </imagesSet>
        </DescribeImagesResponse>
  recorded_at: Mon, 30 Jul 2012 11:05:00 GMT
[...]
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=DescribeImages&Filter.1.Name=image-type&Filter.1.Value.1=machine&Owner.1=137112412989&Signature=+lGt+yIgRZGn1dj/WYhWSXbSdrEG2LNQpOgopFmJGGk=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-30T11:05:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
     [...]
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=DescribeImages&ImageId.1=ami-aaaaaaaa&Signature=HMdPYtsGfqWVjDV3CUbKTyE8CFum+ewKw5uYYsPhO+o=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-30T11:05:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      Cneonction: 
      - close
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Response><Errors><Error><Code>InvalidAMIID.NotFound</Code><Message>The AMI ID 'ami-aaaaaaaa' does not exist</Message></Error></Errors><RequestID>6e3a59f3-3e2c-496d-b411-3550fc282d2f</RequestID></Response>
  recorded_at: Mon, 30 Jul 2012 11:05:00 GMT
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=DescribeImages&ImageId.1=unknown&Signature=cd/Dufs0Id6k4OzWMsgkmxstPNsWiv3YtAKgr0jZSME=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-30T11:05:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      Cneonction: 
      - close
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Response><Errors><Error><Code>InvalidAMIID.Malformed</Code><Message>Invalid id: "unknown" (expecting "ami-...")</Message></Error></Errors><RequestID>51ed9a95-e99d-40f7-8c96-0c35f7a6a1d0</RequestID></Response>
  recorded_at: Mon, 30 Jul 2012 11:05:00 GMT
