--- 
http_interactions: 
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=DescribeImages&ImageId.1=ami-eea35787&Signature=5+Q0+c5zAs/Stke7phg7Mo/gUYkH8A9ykm1wlZlEwyw=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-05-31T10:58:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>6c1ea2fc-208c-4b0e-8a5f-3e90e111083b</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-eea35787</imageId>
                    <imageLocation>amazon/sles-10-sp3-v1.00.x86_64</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>013907871322</imageOwnerId>
                    <isPublic>true</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-427d952b</kernelId>
                    <imageOwnerAlias>amazon</imageOwnerAlias>
                    <name>sles-10-sp3-v1.00.x86_64</name>
                    <description>SUSE Linux Enterprise Server 10 Service Pack 3 for x86_64 (v1.00)</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-8e2729e5</snapshotId>
                                <volumeSize>15</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>paravirtual</virtualizationType>
                </item>
            </imagesSet>
        </DescribeImagesResponse>
  recorded_at: Thu, 31 May 2012 10:58:00 GMT
recorded_with: VCR 2.1.1
