--- 
http_interactions: 
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=DescribeInstances&Signature=OYETyEF7LC0YSVZD7OM6/HMbgTdH7dJydXbtxPRPnvY=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-05-31T10:58:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>4fb79634-dfe4-47cc-ac83-b037df5cedaa</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-3962675b</reservationId>
                    <ownerId>293787749884</ownerId>
                    <groupSet>
                        <item>
                            <groupId>default</groupId>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-ff7a6299</instanceId>
                            <imageId>ami-db65bab2</imageId>
                            <instanceState>
                                <code>48</code>
                                <name>terminated</name>
                            </instanceState>
                            <privateDnsName/>
                            <dnsName/>
                            <reason>User initiated (2012-05-31 08:21:55 GMT)</reason>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>m1.small</instanceType>
                            <launchTime>2012-05-31T08:19:17.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1a</availabilityZone>
                                <groupName/>
                            </placement>
                            <kernelId>aki-b6aa75df</kernelId>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <stateReason>
                                <code>Client.UserInitiatedShutdown</code>
                                <message>Client.UserInitiatedShutdown: User initiated shutdown</message>
                            </stateReason>
                            <architecture>i386</architecture>
                            <rootDeviceType>instance-store</rootDeviceType>
                            <blockDeviceMapping/>
                            <virtualizationType>paravirtual</virtualizationType>
                            <clientToken/>
                        </item>
                    </instancesSet>
                </item>
                <item>
                    <reservationId>r-c96d68ab</reservationId>
                    <ownerId>293787749884</ownerId>
                    <groupSet>
                        <item>
                            <groupId>default</groupId>
                        </item>
                    </groupSet>
              [...]
