---
http_interactions:
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=RunInstances&AddressingType=public&ImageId=ami-aecd60c7&InstanceType=t1.micro&KeyName=test1&MaxCount=1&MinCount=1&Placement.AvailabilityZone=us-east-1a&Signature=R0RoODEniv2px1ilemZ5L3PykJeYd+8GkgY9u8hZyrY=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-30T11:05:00.000Z&UserData=testuserdata&Version=2010-08-31
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<RunInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2010-08-31/\">\n    <requestId>6825ad3c-56bd-4ecd-bf66-14ac2a222559</requestId>\n
        \   <reservationId>r-882d9cec</reservationId>\n    <ownerId>293787749884</ownerId>\n
        \   <groupSet>\n        <item>\n            <groupId>default</groupId>\n        </item>\n
        \   </groupSet>\n    <instancesSet>\n        <item>\n            <instanceId>i-fd749186</instanceId>\n
        \           <imageId>ami-aecd60c7</imageId>\n            <instanceState>\n
        \               <code>0</code>\n                <name>pending</name>\n            </instanceState>\n
        \           <privateDnsName/>\n            <dnsName/>\n            <reason/>\n
        \           <keyName>test1</keyName>\n            <amiLaunchIndex>0</amiLaunchIndex>\n
        \           <productCodes/>\n            <instanceType>t1.micro</instanceType>\n
        \           <launchTime>2012-07-30T11:06:44.000Z</launchTime>\n            <placement>\n
        \               <availabilityZone>us-east-1a</availabilityZone>\n                <groupName/>\n
        \           </placement>\n            <kernelId>aki-88aa75e1</kernelId>\n
        \           <monitoring>\n                <state>disabled</state>\n            </monitoring>\n
        \           <stateReason>\n                <code>pending</code>\n                <message>pending</message>\n
        \           </stateReason>\n            <architecture>x86_64</architecture>\n
        \           <rootDeviceType>ebs</rootDeviceType>\n            <rootDeviceName>/dev/sda1</rootDeviceName>\n
        \           <blockDeviceMapping/>\n            <virtualizationType>paravirtual</virtualizationType>\n
        \           <clientToken/>\n        </item>\n    </instancesSet>\n</RunInstancesResponse>"
  recorded_at: Mon, 30 Jul 2012 11:05:00 GMT
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=DescribeInstances&InstanceId.1=i-fd749186&Signature=Rg03inb0DLdzZQyCPvRURftYeu4Pld+SDhWZWObVxcU=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-30T11:05:00.000Z&Version=2010-08-31
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2010-08-31/\">\n    <requestId>1547a31c-7dbb-4f33-b97e-ed26a25c7242</requestId>\n
        \   <reservationSet>\n        <item>\n            <reservationId>r-882d9cec</reservationId>\n
        \           <ownerId>293787749884</ownerId>\n            <groupSet>\n                <item>\n
        \                   <groupId>default</groupId>\n                </item>\n
        \           </groupSet>\n            <instancesSet>\n                <item>\n
        \                   <instanceId>i-fd749186</instanceId>\n                    <imageId>ami-aecd60c7</imageId>\n
        \                   <instanceState>\n                        <code>16</code>\n
        \                       <name>running</name>\n                    </instanceState>\n
        \                   <privateDnsName>domU-12-31-39-02-7E-CB.compute-1.internal</privateDnsName>\n
        \                   <dnsName>ec2-23-22-177-20.compute-1.amazonaws.com</dnsName>\n
        \                   <reason/>\n                    <keyName>test1</keyName>\n
        \                   <amiLaunchIndex>0</amiLaunchIndex>\n                    <productCodes/>\n
        \                   <instanceType>t1.micro</instanceType>\n                    <launchTime>2012-07-30T11:06:44.000Z</launchTime>\n
        \                   <placement>\n                        <availabilityZone>us-east-1a</availabilityZone>\n
        \                       <groupName/>\n                    </placement>\n                    <kernelId>aki-88aa75e1</kernelId>\n
        \                   <monitoring>\n                        <state>disabled</state>\n
        \                   </monitoring>\n                    <privateIpAddress>10.248.129.53</privateIpAddress>\n
        \                   <ipAddress>23.22.177.20</ipAddress>\n                    <architecture>x86_64</architecture>\n
        \                   <rootDeviceType>ebs</rootDeviceType>\n                    <rootDeviceName>/dev/sda1</rootDeviceName>\n
        \                   <blockDeviceMapping>\n                        <item>\n
        \                           <deviceName>/dev/sda1</deviceName>\n                            <ebs>\n
        \                               <volumeId>vol-e66f6087</volumeId>\n                                <status>attached</status>\n
        \                               <attachTime>2012-07-30T11:07:05.000Z</attachTime>\n
        \                               <deleteOnTermination>true</deleteOnTermination>\n
        \                           </ebs>\n                        </item>\n                    </blockDeviceMapping>\n
        \                   <virtualizationType>paravirtual</virtualizationType>\n
        \                   <clientToken/>\n                </item>\n            </instancesSet>\n
        \       </item>\n    </reservationSet>\n</DescribeInstancesResponse>"
  recorded_at: Mon, 30 Jul 2012 11:05:00 GMT
[...]
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=TerminateInstances&InstanceId.1=i-fd749186&Signature=v0K4YTFYd8y/+V2NN2Y+IQt65986IKDMuSa8AUXi2Fo=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-30T11:05:00.000Z&Version=2010-08-31
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<TerminateInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2010-08-31/\">\n    <requestId>11b3b2e2-db5b-4ec5-a53b-c55c2c2a3f69</requestId>\n
        \   <instancesSet>\n        <item>\n            <instanceId>i-fd749186</instanceId>\n
        \           <currentState>\n                <code>32</code>\n                <name>shutting-down</name>\n
        \           </currentState>\n            <previousState>\n                <code>16</code>\n
        \               <name>running</name>\n            </previousState>\n        </item>\n
        \   </instancesSet>\n</TerminateInstancesResponse>"
  recorded_at: Mon, 30 Jul 2012 11:05:00 GMT
[...]
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=RunInstances&AddressingType=public&ImageId=ami-aecd60c7&InstanceType=t1.micro&KeyName=test1&MaxCount=1&MinCount=1&Placement.AvailabilityZone=us-east-1a&SecurityGroup.1=default&Signature=8cFeW7c7C5SkhPpGDz0gIv8btxPzYgTFPnwFSFcFkbA=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-30T11:05:00.000Z&UserData=testuserdata&Version=2010-08-31
    body:
      encoding: US-AS[...]
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=DescribeInstances&InstanceId.1=i-2570955e&Signature=nmsD4nelZt1ddVHrSPKuJRoUrbcKRFLQaPd9YAFep60=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-30T11:05:00.000Z&Version=2010-08-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
[...]
[...]
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=TerminateInstances&InstanceId.1=i-2570955e&Signature=lMcpzE5ztcCNAv/B5N/uptBvexEUxr8jyk6p49ZTj58=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-30T11:05:00.000Z&Version=2010-08-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<TerminateInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2010-08-31/\">\n    <requestId>2e6e3945-1d26-4a14-908d-88ec82ee5d0f</requestId>\n
        \   <instancesSet>\n        <item>\n            <instanceId>i-2570955e</instanceId>\n
        \           <currentState>\n                <code>32</code>\n                <name>shutting-down</name>\n
        \           </currentState>\n            <previousState>\n                <code>16</code>\n
        \               <name>running</name>\n            </previousState>\n        </item>\n
        \   </instancesSet>\n</TerminateInstancesResponse>"
  recorded_at: Mon, 30 Jul 2012 11:05:00 GMT
[...]
