--- 
http_interactions: 
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=DescribeKeyPairs&KeyName.1=test1&Signature=Joj0FkHDH1/SQw+nVTiAQgQKo+uuCmMmRWtKHXLqunI=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-30T11:05:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>d3a8a58b-2008-46ce-a9fa-ace3d2486a9a</requestId>
            <keySet>
                <item>
                    <keyName>test1</keyName>
                    <keyFingerprint>3d:22:8e:63:63:45:53:fa:50:3b:e7:00:09:aa:c0:7f:95:8c:2c:b5</keyFingerprint>
                </item>
            </keySet>
        </DescribeKeyPairsResponse>
  recorded_at: Mon, 30 Jul 2012 11:05:00 GMT
[...]
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=DescribeKeyPairs&KeyName.1=unknown&Signature=I7/JtwvxhmqLFQ7CUYy4vyPQxKg6mkPNMpJ3q7vpli4=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-30T11:05:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      Cneonction: 
      - close
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Response><Errors><Error><Code>InvalidKeyPair.NotFound</Code><Message>The key pair 'unknown' does not exist</Message></Error></Errors><RequestID>e936912f-c98a-4a08-8e87-7b99d143f048</RequestID></Response>
  recorded_at: Mon, 30 Jul 2012 11:05:00 GMT
recorded_with: VCR 2.2.4
