--- 
http_interactions: 
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=DescribeKeyPairs&Signature=D20IPAmkuK01iJDNiTyEZyjPaS+G0Jyzsz1nIehUPM4=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-30T11:05:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>1804c674-78ac-4ad0-8f2f-5b5fbb55a98d</requestId>
            <keySet>
                <item>
                    <keyName>test1</keyName>
                    <keyFingerprint>3d:22:8e:63:63:45:53:fa:50:3b:e7:00:09:aa:c0:7f:95:8c:2c:b5</keyFingerprint>
                </item>
                <item>
                    <keyName>test2</keyName>
                    <keyFingerprint>8d:34:a2:2a:71:ce:51:17:0b:a8:86:1a:bf:d8:b0:b2:ad:90:79:49</keyFingerprint>
                </item>
            </keySet>
        </DescribeKeyPairsResponse>
  recorded_at: Mon, 30 Jul 2012 11:05:00 GMT
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=DescribeKeyPairs&Signature=D20IPAmkuK01iJDNiTyEZyjPaS+G0Jyzsz1nIehUPM4=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-30T11:05:00.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>aaffbaf1-8da0-4944-8c3d-1f71666eec38</requestId>
            <keySet>
                <item>
                    <keyName>test1</keyName>
                    <keyFingerprint>3d:22:8e:63:63:45:53:fa:50:3b:e7:00:09:aa:c0:7f:95:8c:2c:b5</keyFingerprint>
                </item>
                <item>
                    <keyName>test2</keyName>
                    <keyFingerprint>8d:34:a2:2a:71:ce:51:17:0b:a8:86:1a:bf:d8:b0:b2:ad:90:79:49</keyFingerprint>
                </item>
            </keySet>
        </DescribeKeyPairsResponse>
  recorded_at: Mon, 30 Jul 2012 11:05:00 GMT
recorded_with: VCR 2.2.4
