--- 
recorded_with: VCR 2.2.4
http_interactions: 
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJHMN5TTUKVLK5WCQ&Action=DescribeAvailabilityZones&Signature=ubo/K69ZBrM5BTXwk5mcGytDQ2KSbwHD2hWLh67rejw=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-08-28T23:25:07.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>9ffa9aed-b47f-4a5a-96ab-1c6e554e0cb0</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>us-east-1a</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1b</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1c</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1d</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Tue, 28 Aug 2012 23:25:07 GMT
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJHMN5TTUKVLK5WCQ&Action=DescribeSubnets&Signature=li4JSzmstzaJIi+7xN5T9sHaPEKIuqAjn4As7Gz8TfU=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-08-28T23:25:07.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSubnetsResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>c0d2d063-8928-439c-a0cf-daabc07e7e5f</requestId>
            <subnetSet>
                <item>
                    <subnetId>subnet-6a9a2c01</subnetId>
                    <state>available</state>
                    <vpcId>vpc-979d2bfc</vpcId>
                    <cidrBlock>172.16.3.0/24</cidrBlock>
                    <availableIpAddressCount>251</availableIpAddressCount>
                    <availabilityZone>us-east-1b</availabilityZone>
                </item>
                <item>
                    <subnetId>subnet-dd5bfcb6</subnetId>
                    <state>available</state>
                    <vpcId>vpc-0b40e760</vpcId>
                    <cidrBlock>10.1.0.0/24</cidrBlock>
                    <availableIpAddressCount>251</availableIpAddressCount>
                    <availabilityZone>us-east-1a</availabilityZone>
                </item>
                <item>
                    <subnetId>subnet-a676c0cd</subnetId>
                    <state>available</state>
                    <vpcId>vpc-a276c0c9</vpcId>
                    <cidrBlock>172.16.3.0/24</cidrBlock>
                    <availableIpAddressCount>251</availableIpAddressCount>
                    <availabilityZone>us-east-1b</availabilityZone>
                </item>
            </subnetSet>
        </DescribeSubnetsResponse>
  recorded_at: Tue, 28 Aug 2012 23:25:08 GMT
