---
http_interactions:
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJYOQYLLOIWN5LQ3A&Action=DescribeSnapshots&Signature=opZSH4U4aTNcjyYTGGXjz9it4vw+qQ5e+/mKlVQpPEY=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-08-13T13:03:00.000Z&Version=2010-08-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeSnapshotsResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2010-08-31/\">\n    <requestId>8bae452b-b7eb-4d28-be33-d1281c0dc238</requestId>\n
        \   <snapshotSet>\n        <item>\n            <snapshotId>snap-715e6201</snapshotId>\n
        \           <volumeId>vol-732cf013</volumeId>\n            <status>completed</status>\n
        \           <startTime>2012-08-13T12:59:49.000Z</startTime>\n            <progress>100%</progress>\n
        \           <ownerId>293787749884</ownerId>\n            <volumeSize>1</volumeSize>\n
        \           <description/>\n        </item>\n        <item>\n            <snapshotId>snap-d010f6b9</snapshotId>\n
        \           <volumeId>vol-351efb5c</volumeId>\n            <status>completed</status>\n
        \           <startTime>2008-10-20T18:23:59.000Z</startTime>\n            <progress>100%</progress>\n
        \           <ownerId>711940113766</ownerId>\n            <volumeSize>2</volumeSize>\n
        \           <description>Windows 2003 R2 Installation Media [Deprecated] -
        Enterprise Edition 64-bit</description>\n            <ownerAlias>amazon</ownerAlias>\n
        \       </item>\n        <item>\n            <snapshotId>snap-a310f6ca</snapshotId>\n
        \           <volumeId>vol-001efb69</volumeId>\n            <status>completed</status>\n
        \           <startTime>2008-10-20T18:25:53.000Z</startTime>\n            <progress>100%</progress>\n
        \           <ownerId>711940113766</ownerId>\n            <volumeSize>2</volumeSize>\n
        \           <description>Windows 2003 R2 Installation Media 64-bit</descripti[...]
