--- 
recorded_with: VCR 2.2.4
http_interactions: 
- request: 
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAJHMN5TTUKVLK5WCQ&Action=DescribeInstances&InstanceId.1=i-768c640c&Signature=CaDNHQcCS+m5OWCZLgeRwOa7xGt69trAaPuN8L1/6AM=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-08-28T23:25:05.000Z&Version=2010-08-31
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2010-08-31/">
            <requestId>bdfd429f-e248-4106-8bae-4300893775b2</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-1ff40478</reservationId>
                    <ownerId>122214243412</ownerId>
                    <groupSet>
                        <item>
                            <groupId>default</groupId>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-768c640c</instanceId>
                            <imageId>ami-aecd60c7</imageId>
                            <instanceState>
                                <code>32</code>
                                <name>shutting-down</name>
                            </instanceState>
                            <privateDnsName>domU-12-31-39-03-CA-6E.compute-1.internal</privateDnsName>
                            <dnsName>ec2-23-22-221-103.compute-1.amazonaws.com</dnsName>
                            <reason>User initiated (2012-08-28 23:25:04 GMT)</reason>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t1.micro</instanceType>
                            <launchTime>2012-08-28T23:24:39.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1a</availabilityZone>
                                <groupName/>
                            </placement>
                            <kernelId>aki-88aa75e1</kernelId>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <privateIpAddress>10.249.201.152</privateIpAddress>
                            <ipAddress>23.22.221.103</ipAddress>
                            <stateReason>
                                <code>Client.UserInitiatedShutdown</code>
                                <message>Client.UserInitiatedShutdown: User initiated shutdown</message>
                            </stateReason>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-75aa0f0e</volumeId>
                                        <status>attached</status>
                                        <attachTime>2012-08-28T23:25:01.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>paravirtual</virtualizationType>
                            <clientToken/>
                        </item>
                    </instancesSet>
                </item>
            </reservationSet>
        </DescribeInstancesResponse>
  recorded_at: Tue, 28 Aug 2012 23:25:05 GMT
