---
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS unknown:p8j2Xe8l9rpxPtrKTCB38A3Gj70=
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amz-Request-Id:
      - 2B20922621B929F8
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>InvalidAccessKeyId</Code><Message>The AWS Access Key Id you provided
        does not exist in our records.</Message><RequestId>2B20922621B929F8</RequestId><HostId>IPzHlEuNqVDDS4X6IZPpbzMn2SyX2I9gKAx5iNKFnjxfR/63SBMwEdqSsZf7sBVs</HostId><AWSAccessKeyId>unknown</AWSAccessKeyId></Error>'
  recorded_at: Mon, 20 Aug 2012 14:06:08 GMT
recorded_with: VCR 2.2.4
