---
http_interactions:
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=RunInstances&AddressingType=public&ImageId=ami-aecd60c7&InstanceType=t1.micro&MaxCount=1&MinCount=1&Placement.AvailabilityZone=us-east-1a&Signature=lpmgyUxNW6IINxn58IV711CoWMnWd1zp2VJ0JsAHRtE=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-23T12:21:00.000Z&Version=2010-08-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<RunInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2010-08-31/\">\n    <requestId>382cbe21-51fb-4f36-b526-b02238c36a25</requestId>\n
        \   <reservationId>r-ec7ab188</reservationId>\n    <ownerId>293787749884</ownerId>\n
        \   <groupSet>\n        <item>\n            <groupId>default</groupId>\n        </item>\n
        \   </groupSet>\n    <instancesSet>\n        <item>\n            <instanceId>i-d8eac5a0</instanceId>\n
        \           <imageId>ami-aecd60c7</imageId>\n            <instanceState>\n
        \               <code>0</code>\n                <name>pending</name>\n            </instanceState>\n
        \           <privateDnsName/>\n            <dnsName/>\n            <reason/>\n
        \           <amiLaunchIndex>0</amiLaunchIndex>\n            <productCodes/>\n
        \           <instanceType>t1.micro</instanceType>\n            <launchTime>2012-07-23T12:25:10.000Z</launchTime>\n
        \           <placement>\n                <availabilityZone>us-east-1a</availabilityZone>\n
        \               <groupName/>\n            </placement>\n            <kernelId>aki-88aa75e1</kernelId>\n
        \           <monitoring>\n                <state>disabled</state>\n            </monitoring>\n
        \           <stateReason>\n                <code>pending</code>\n                <message>pending</message>\n
        \           </stateReason>\n            <architecture>x86_64</architecture>\n
        \           <rootDeviceType>ebs</rootDeviceType>\n            <rootDeviceName>/dev/sda1</rootDeviceName>\n
        \           <blockDeviceMapping/>\n            <virtualizationType>paravirtual</virtualizationType>\n
        \           <clientToken/>\n        </item>\n    </instancesSet>\n</RunInstancesResponse>"
  recorded_at: Mon, 23 Jul 2012 12:21:00 GMT
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=RebootInstances&InstanceId.1=i-d8eac5a0&Signature=DYsKUJ/doU6/TAN73oU5PrfEh1cCNlG+qufY/DCiVzw=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-23T12:21:00.000Z&Version=2010-08-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<RebootInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2010-08-31/\">\n    <requestId>2e7a2847-4d3d-463f-a674-28131afb1569</requestId>\n
        \   <return>true</return>\n</RebootInstancesResponse>"
  recorded_at: Mon, 23 Jul 2012 12:21:00 GMT
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=DescribeInstances&InstanceId.1=i-d8eac5a0&Signature=aY73r5YiXQgu3drzlk3iAYsf0ZqguttvPU4z3OILa5U=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-23T12:21:00.000Z&Version=2010-08-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2010-08-31/\">\n    <requestId>f9d0f619-6337-45e8-b4e0-815971f9cb8d</requestId>\n
        \   <reservationSet>\n        <item>\n            <reservationId>r-ec7ab188</reservationId>\n
        \           <ownerId>293787749884</ownerId>\n            <groupSet>\n                <item>\n
        \                   <groupId>default</groupId>\n                </item>\n
        \           </groupSet>\n            <instancesSet>\n                <item>\n
        \                   <instanceId>i-d8eac5a0</instanceId>\n                    <imageId>ami-aecd60c7</imageId>\n
        \                   <instanceState>\n                        <code>16</code>\n
        \                       <name>running</name>\n                    </instanceState>\n
        \                   <privateDnsName>domU-12-31-39-0A-08-B4.compute-1.internal</privateDnsName>\n
        \                   <dnsName>ec2-184-73-42-198.compute-1.amazonaws.com</dnsName>\n
        \                   <reason/>\n                    <amiLaunchIndex>0</amiLaunchIndex>\n
        \                   <productCodes/>\n                    <instanceType>t1.micro</instanceType>\n
        \                   <launchTime>2012-07-23T12:25:10.000Z</launchTime>\n                    <placement>\n
        \                       <availabilityZone>us-east-1a</availabilityZone>\n
        \                       <groupName/>\n                    </placement>\n                    <kernelId>aki-88aa75e1</kernelId>\n
        \                   <monitoring>\n                        <state>disabled</state>\n
        \                   </monitoring>\n                    <privateIpAddress>10.211.11.66</privateIpAddress>\n
        \                   <ipAddress>184.73.42.198</ipAddress>\n                    <architecture>x86_64</architecture>\n
        \                   <rootDeviceType>ebs</rootDeviceType>\n                    <rootDeviceName>/dev/sda1</rootDeviceName>\n
        \                   <blockDeviceMapping>\n                        <item>\n
        \                           <deviceName>/dev/sda1</deviceName>\n                            <ebs>\n
        \                               <volumeId>vol-d4d78cb5</volumeId>\n                                <status>attached</status>\n
        \                               <attachTime>2012-07-23T12:25:36.000Z</attachTime>\n
        \                               <deleteOnTermination>true</deleteOnTermination>\n
        \                           </ebs>\n                        </item>\n                    </blockDeviceMapping>\n
        \                   <virtualizationType>paravirtual</virtualizationType>\n
        \                   <clientToken/>\n                </item>\n            </instancesSet>\n
        \       </item>\n    </reservationSet>\n</DescribeInstancesResponse>"
  recorded_at: Mon, 23 Jul 2012 12:21:00 GMT
[...]
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=TerminateInstances&InstanceId.1=i-d8eac5a0&Signature=xAWpXfN2Tdn5BYaMRDnpWv+n3QJCTV6RKNL/Ig/Ovrk=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-23T12:21:00.000Z&Version=2010-08-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<TerminateInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2010-08-31/\">\n    <requestId>6e17fa05-73a8-49a0-a32b-15a9a492e350</requestId>\n
        \   <instancesSet>\n        <item>\n            <instanceId>i-d8eac5a0</instanceId>\n
        \           <currentState>\n                <code>32</code>\n                <name>shutting-down</name>\n
        \           </currentState>\n            <previousState>\n                <code>16</code>\n
        \               <name>running</name>\n            </previousState>\n        </item>\n
        \   </instancesSet>\n</TerminateInstancesResponse>"
  recorded_at: Mon, 23 Jul 2012 12:21:00 GMT
[...]
