---
http_interactions:
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=CreateKeyPair&KeyName=test-key-1&Signature=JiS33nNgDrpDbA+AOVK5az1/GJv2rmHRT/OstQmas88=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-23T12:21:00.000Z&Version=2010-08-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<CreateKeyPairResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2010-08-31/\">\n    <requestId>00a06730-5e6a-42b0-b7a8-4bbd43c18de0</requestId>\n
        \   <keyName>test-key-1</keyName>\n    <keyFingerprint>00:de:c9:b8:0b:f7:06:66:05:12:25:90:eb:2d:92:09:4d:14:64:02</keyFingerprint>\n
        \   <keyMaterial>-----BEGIN RSA PRIVATE KEY-----\nMIIEogIBAAKCAQEAkAQUqaBvFVxPicOm6U+OC6rGkZZzO0MOymlDDCZbUllpYmMCgUIdeU1GKb4q\nCbkpIdeqfE9wbd/5fCL+m5T6nRAdXi2LsLK5j/tutEXfE5TBndpwraYhtm0Rlj+nleFe0NDrnRHm\nxbkqGsCJ+xByQZMHcGRXuVOvcPsq4DcAg7BWYupdjzsE1hdPQ+OWiDpxHGBCpun6Tbrens0YWwci\n+vOJLNnT+RktQMPZi8ozfpmIMF4bU8un+tfC6tu6qYoXot7tEirxYVaEW1yZ+90cKFygH28ETOct\nhzGhx5dB+2Ae2Egq6X/VjxIH4pTmS9TRvmNO9xbOCVe7OFUtj+N8rwIDAQABAoIBADqrnutX88lE\n+RZLwdTs1xaDtS+clkc/U2g8p9bsTWnoCRnO8jdMgwtm4r2gvimF6G7kGI1aI5hvlYjwDL+/WrXf\[...]
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=CreateKeyPair&KeyName=test-key-1&Signature=JiS33nNgDrpDbA+AOVK5az1/GJv2rmHRT/OstQmas88=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-23T12:21:00.000Z&Version=2010-08-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Cneonction:
      - close
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <Response><Errors><Error><Code>InvalidKeyPair.Duplicate</Code><Message>The
        keypair ''test-key-1'' already exists.</Message></Error></Errors><RequestID>717f8dba-7856-4010-beb3-ce9e0276c6b2</RequestID></Response>'
  recorded_at: Mon, 23 Jul 2012 12:21:00 GMT
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=DescribeKeyPairs&KeyName.1=test-key-1&Signature=w36zVNjmT+WhbgTF7hODm7NDLVd9BldEQ+lhVE3YFAY=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-23T12:21:00.000Z&Version=2010-08-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeKeyPairsResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2010-08-31/\">\n    <requestId>dd952563-b2e3-47fe-b658-570ab8550e06</requestId>\n
        \   <keySet>\n        <item>\n            <keyName>test-key-1</keyName>\n
        \           <keyFingerprint>00:de:c9:b8:0b:f7:06:66:05:12:25:90:eb:2d:92:09:4d:14:64:02</keyFingerprint>\n
        \       </item>\n    </keySet>\n</DescribeKeyPairsResponse>"
  recorded_at: Mon, 23 Jul 2012 12:21:00 GMT
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=DeleteKeyPair&KeyName=test-key-1&Signature=wwfFq6DFixzO1EX1tgDHZHiDRtHeq6kgX1OA2eVdNU0=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-23T12:21:00.000Z&Version=2010-08-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DeleteKeyPairResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2010-08-31/\">\n    <requestId>bf625367-9791-4661-9dd0-814acfceb4cd</requestId>\n
        \   <return>true</return>\n</DeleteKeyPairResponse>"
  recorded_at: Mon, 23 Jul 2012 12:21:00 GMT
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=DescribeKeyPairs&KeyName.1=test-key-1&Signature=w36zVNjmT+WhbgTF7hODm7NDLVd9BldEQ+lhVE3YFAY=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-23T12:21:00.000Z&Version=2010-08-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Cneonction:
      - close
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <Response><Errors><Error><Code>InvalidKeyPair.NotFound</Code><Message>The
        key pair ''test-key-1'' does not exist</Message></Error></Errors><RequestID>c09ef995-b86b-4371-9421-3a8f8b36d121</RequestID></Response>'
  recorded_at: Mon, 23 Jul 2012 12:21:00 GMT
recorded_with: VCR 2.1.1
