---
http_interactions:
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=RunInstances&AddressingType=public&ImageId=ami-aecd60c7&InstanceType=t1.micro&KeyName=test1&MaxCount=1&MinCount=1&Placement.AvailabilityZone=us-east-1a&SecurityGroup.1=default&Signature=xoCDwGrtLmj2z2kDBktyTrkrInC8Dro6X523yYnn0yQ=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-23T12:21:00.000Z&UserData=testuserdata&Version=2010-08-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<RunInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2010-08-31/\">\n    <requestId>f6e2047f-36e3-45a2-9ca2-7a2d675bc380</requestId>\n
        \   <reservationId>r-627ab106</reservationId>\n    <ownerId>293787749884</ownerId>\n
        \   <groupSet>\n        <item>\n            <groupId>default</groupId>\n        </item>\n
        \   </groupSet>\n    <instancesSet>\n        <item>\n            <instanceId>i-8aebc4f2</instanceId>\n
        \           <imageId>ami-aecd60c7</imageId>\n            <instanceState>\n
        \               <code>0</code>\n                <name>pending</name>\n            </instanceState>\n
        \           <privateDnsName/>\n            <dnsName/>\n            <reason/>\n
        \           <keyName>test1</keyName>\n            <amiLaunchIndex>0</amiLaunchIndex>\n
        \           <productCodes/>\n            <instanceType>t1.micro</instanceType>\n
        \           <launchTime>2012-07-23T12:24:34.000Z</launchTime>\n            <placement>\n
        \               <availabilityZone>us-east-1a</availabilityZone>\n                <groupName/>\n
        \           </placement>\n            <kernelId>aki-88aa75e1</kernelId>\n
        \           <monitoring>\n                <state>disabled</state>\n            </monitoring>\n
        \           <stateReason>\n                <code>pending</code>\n                <message>pending</message>\n
        \           </stateReason>\n            <architecture>x86_64</architecture>\n
        \           <rootDeviceType>ebs</rootDeviceType>\n            <rootDeviceName>/dev/sda1</rootDeviceName>\n
        \           <blockDeviceMapping/>\n            <virtualizationType>paravirtual</virtualizationType>\n
        \           <clientToken/>\n        </item>\n    </instancesSet>\n</RunInstancesResponse>"
  recorded_at: Mon, 23 Jul 2012 12:21:00 GMT
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=DescribeInstances&InstanceId.1=i-8aebc4f2&Signature=ZUP5RvEqK9oMtW/M8PcWuKLViw/EiEgzPvwxPcw8Bsg=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-23T12:21:00.000Z&Version=2010-08-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2010-08-31/\">\n    <requestId>e9d2dc80-1c0e-486d-9927-0c64a41fc0f3</requestId>\n
        \   <reservationSet>\n        <item>\n            <reservationId>r-627ab106</reservationId>\n
        \           <ownerId>293787749884</ownerId>\n            <groupSet>\n                <item>\n
        \                   <groupId>default</groupId>\n                </item>\n
        \           </groupSet>\n            <instancesSet>\n                <item>\n
        \                   <instanceId>i-8aebc4f2</instanceId>\n                    <imageId>ami-aecd60c7</imageId>\n
        \                   <instanceState>\n                        <code>16</code>\n
        \                       <name>running</name>\n                    </instanceState>\n
        \                   <privateDnsName>domU-12-31-39-10-42-E7.compute-1.internal</privateDnsName>\n
        \                   <dnsName>ec2-23-20-131-250.compute-1.amazonaws.com</dnsName>\n
        \                   <reason/>\n                    <keyName>test1</keyName>\n
        \                   <amiLaunchIndex>0</amiLaunchIndex>\n                    <productCodes/>\n
        \                   <instanceType>t1.micro</instanceType>\n                    <launchTime>2012-07-23T12:24:34.000Z</launchTime>\n
        \                   <placement>\n                        <availabilityZone>us-east-1a</availabilityZone>\n
        \                       <groupName/>\n                    </placement>\n                    <kernelId>aki-88aa75e1</kernelId>\n
        \                   <monitoring>\n                        <state>disabled</state>\n
        \                   </monitoring>\n                    <privateIpAddress>10.198.65.17</privateIpAddress>\n
        \                   <ipAddress>23.20.131.250</ipAddress>\n                    <architecture>x86_64</architecture>\n
        \                   <rootDeviceType>ebs</rootDeviceType>\n                    <rootDeviceName>/dev/sda1</rootDeviceName>\n
        \                   <blockDeviceMapping>\n                        <item>\n
        \                           <deviceName>/dev/sda1</deviceName>\n                            <ebs>\n
        \                               <volumeId>vol-4ad78c2b</volumeId>\n                                <status>attached</status>\n
        \                               <attachTime>2012-07-23T12:24:53.000Z</attachTime>\n
        \                               <deleteOnTermination>true</deleteOnTermination>\n
        \                           </ebs>\n                        </item>\n                    </blockDeviceMapping>\n
        \                   <virtualizationType>paravirtual</virtualizationType>\n
        \                   <clientToken/>\n                </item>\n            </instancesSet>\n
        \       </item>\n    </reservationSet>\n</DescribeInstancesResponse>"
  recorded_at: Mon, 23 Jul 2012 12:21:00 GMT
[...]
- request:
    method: get
    uri: https://ec2.us-east-1.amazonaws.com/?AWSAccessKeyId=AKIAIZ63KHGXIWDMBY6Q&Action=TerminateInstances&InstanceId.1=i-8aebc4f2&Signature=wnnbqeEEKQVHk0JlMWK+DXMNN0egWJBm3s+MZniMs28=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-07-23T12:21:00.000Z&Version=2010-08-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<TerminateInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2010-08-31/\">\n    <requestId>ebfedb87-2db0-4a6d-bf64-bc9e552dbaa4</requestId>\n
        \   <instancesSet>\n        <item>\n            <instanceId>i-8aebc4f2</instanceId>\n
        \           <currentState>\n                <code>32</code>\n                <name>shutting-down</name>\n
        \           </currentState>\n            <previousState>\n                <code>16</code>\n
        \               <name>running</name>\n            </previousState>\n        </item>\n
        \   </instancesSet>\n</TerminateInstancesResponse>"
  recorded_at: Mon, 23 Jul 2012 12:21:00 GMT
[...]
